<slick  class="slider-thub3" settings="channel_event_slide"  ng-if="vm.channelRunningLoaded" init-onload="true" >
    <div  ng-repeat="item in vm.channelRunning">
        <div class="view-vip-sknb">
            <a ng-click="vm.getChannelChange(item.channel.id,item.channel.pid)" href="" class="thumb-ikm">
                <!--<div id="{{item.channel.id}}_bg" style="background-image: url('{{Constant.APIHost}}/api1/contents/pictures/{{item.logo}}?type=original') ; background-size: 100%;background-repeat: no-repeat; background-position: center; width: 280px; height: 189px ;display: block">-->
                <div id="{{item.channel.id}}_bg" style="background-image: url('{{item.logo}}') ; background-size: 100%;background-repeat: no-repeat; background-position: center; width: 280px; height: 189px ;display: block">
                    <!--<span style="">{{item.title[0].text}}</span>-->
                    <video id="{{item.channel.id}}" style="display: none" class="a_play" muted="true"  vjs-video controls preload="false" width="280px" height="189px" >
                    </video>
                </div>
                
            </a>
            <div class="thumb-sub-view">
                <a  href="" ><img style="width: 42px; height: 13px" src="{{item.logo}}" alt="" /></a>
                <span>{{item.start_time}}</span>
                <div style="background: #f0f0f0; width: 120px; position: relative; display: inline-block; height: 4px; text-align: left">
                    <div style="background: #FF5405; width: {{item.progress}}; display: inline-block; height: 2px; top:1px; position: absolute"></div>
                </div>
                <span>{{item.end_time}}</span>
            </div>
        </div>
    </div>
</slick>
