<slick  class="{{::cssclass}}" settings="slicksettings"  init-onload="true" data="slickdata" id="slider-top" ng-if="::probannerlist.length">
    <div class="banner-item" ng-repeat="probanner in ::probannerlist"><img class="banner-img"  data-lazy="{{::probanner.img}}" alt="" go-and-refresh-state='vd,{{::probanner.vodId}}'/></div>
<!--    <div><img  src="assets/img/banner/film1.jpg" alt="" /></div>
    <div><img src="assets/img/banner/film2.jpg" alt="" /></div>
    <div><img src="assets/img/banner/film3.jpg" alt="" /></div>-->
    <!--<div><img src="assets/img/idex/banner.png" alt="" /></div>-->
</slick>
<!-- <div class="bo-banner-cover"></div> -->