<div ng-switch="vm.getCurrentStep()" > 
    <div class="pp-wrp" ng-switch-when="one">
        <div class="pp-content">
            <h4>Kết nối thiết bị</h4>
            <form name="pairingForm" novalidate>
                <div class="wave" ng-if="!vm.isPaired">
                    <h2>Bạn chưa kết nối với Set-Top-Box. Bạn có muốn kết nối không?</h2>
                    <button type="submit" class="btn btn-default" ng-click="vm.gotoPairWithSTB()">Kết nối</button>
                    <button type="submit" class="btn btn-default" ng-click="vm.closePairingDialog()">Hủy</button>
                </div>
                <div class="wave" ng-if="vm.isPaired">
                    <h2>Bạn đã kết nối với Set-Top-Box</h2>
                    <button type="submit" class="btn btn-default" ng-click="vm.closePairingDialog()">Hủy</button>
                </div>
            </form>
        </div>
    </div>
    <div class="pp-wrp" ng-switch-when="two">
        <div class="pp-content">
            <h4>Kết nối thiết bị</h4>
            <form name="pairingForm" novalidate>

                <div class="wave">
                    <h2>Vui lòng nhập mã kết nối</h2>
                    <div class="form-group" ng-class="{ 'has-error': pairingForm.pairCode.$touched && pairingForm.pairCode.$invalid }">
                        <input type="code" name="code" class="form-control" id="exampleInputEmail1" placeholder="Mã xác nhận" required ng-model="vm.userAccount.pairCode"  ng-minlength="4">
                        <!--<input type="button" value="Request Code"/>-->
                        <div class="help-block" ng-messages="registerForm.pairCode.$error" ng-if="pairingForm.pairCode.$touched">
                            <p ng-message="minlength">Your name is too short.</p>
                            <p ng-message="maxlength">Your name is too long.</p>
                            <p ng-message="required">Your name is required.</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="vm.pairWithSTB()">Complete Register</button>
                </div>
            </form>
        </div>
    </div>

    <div class="pp-wrp" ng-switch-when="three">
        <div class="pp-content">
            <h4>Kết nối thiết bị</h4>
            <form name="pairingForm" novalidate>
                <div  class="wave">
                    <h1>Kết nối với TV thành công</h1>
                </div>

            </form>
        </div>
    </div>
</div>
