<div class="pp-wrp">
    <div ng-switch="vm.typeDialog" >
        <div ng-switch-when="info" class="wave">
            <div class="top-pp"><h4>Thông tin tài khoản</h4></div>
            <div class="pp-content">
                <div class="sub-pri">
                    <span class="so-l"><input id="" type="radio" checked="true" name="" value="">Tài khoản </span>
                    <span class="so-r"><span>{{vm.acc.accountInfo.id}}</span></span>
                </div>
                <div class="sub-pri">
                    <span class="so-l"><input id="" type="radio" checked="true" name="" value="">Gói </span>
                    <span class="so-r"><span>Free</span></span>
                </div>
                <div class="row">                    
                    <div class="col-md-6 col-md-offset-3"><button class="btn btn-default" ng-click="vm.closeAccountDialog();">Close</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

