<!-- <span class="close-full" data-dismiss="modal" aria-label="Close" ng-click="app.closeLoginDialog()"></span> -->
<div class="pp-wrp">
    <div class="top-pp"><h4>Đăng nhập</h4></div>
    <div class="pp-content">
        <form name="loginForm" id="loginForm" novalidate onsubmit="event.preventDefault();">
            <div ng-switch="vm.getCurrentStep()" >
                <div ng-switch-when="one" class="wave">
                    <div class="form-group" ng-class="{ 'has-error': loginForm.phone.$touched && loginForm.phone.$invalid }">
                        <input type="phone" name="phone" class="form-control" id="login_phone" placeholder="Số điện thoại" required ng-model="vm.userAccount.id" ng-minlength="9" ng-maxlength="15" ng-value="0986888608">
                        <div class="help-block" ng-messages="loginForm.phone.$error" ng-if="loginForm.phone.$touched">
                            <p ng-message="minlength">Số điện thoại quá ngắn.</p>
                            <p ng-message="maxlength">Số điện thoại quá dài.</p>
                            <p ng-message="required">Số điện thoại là bắt buộc.</p>
                            <p ng-message="invalidInfo">Thông tin đăng nhập không chính xác</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                        <input type="password" name="password" class="form-control" id="login_password" placeholder="Mật khẩu" ng-model="vm.userAccount.password" required ng-minlength="1" ng-maxlength="50" ng-value="2">
                        <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                            <p ng-message="minlength">Mật khẩu quá ngắn.</p>
                            <p ng-message="maxlength">Mật khẩu quá dài.</p>
                            <p ng-message="required">Mật khẩu là bắt buộc.</p>
                        </div>
                    </div>
                    <p ng-if="(vm.resultMsg !== '')" class="pt-login-tt">
                        {{vm.resultMsg}}
                    </p>
                    <hr class="line-pp">
                    <div class="row">
                        <div class="col-md-6"><button class="btn btn-default" ng-click="vm.login()" ng-disabled="!loginForm.$valid" name="login_sumit">Đăng nhập</button></div>                   
                        <div class="col-md-6"><button class="btn btn-default" ng-click="app.closeLoginDialog()" ng-disabled="true" name="login_close">Đóng</button></div>

                    </div>
                        
                    <!-- Squared THREE -->
                    
<!--                     <ul class="list-li-pp">
                        <li><a href="" ng-click="vm.closeRegisterModal(); app.openChangePassDialog('forgotPass')" id="reset_pass">Lấy lại mật khẩu</a></li>
                        <li><a href="" ng-click="vm.closeRegisterModal(); app.openRegisterDialog()" id="register">Đăng ký tài khoản</a></li>
                    </ul> -->
                </div>
            </div>
        </form>
    </div>
</div>
