<style>
    .video-js {
    width: 100%;
    height: 100%;
}
</style>
<div class="tvchannel main-wrap" ng-cloak>
    <div class="main-top">
        <div class="container fix-container">
            <!--home tv chanel-->
            <div class="row tv-chanel-top" id="channel_type">
                <div class="col-md-12">
                    <div class="pull-left" >
                        <div class="tv-video-cn"  id="channelPlayerPanel">                           
                        </div>
                    </div>
<!--                     <div class="pull-right channelguide"> -->
<!--                         <channelguide></channelguide> -->
<!--                     </div> -->
                </div>

            </div>

            <!--END home tv chanel-->
            <!-- channelslider -->
            <div class="row fix-thumb">
                <div class="col-sm-12 channel">
                    <channelslider></channelslider>                     
                </div>
            </div>
            <!-- End channelslider -->
            <div class="row fix-thumb"  id="list-tv-kenh">
                <div class="col-sm-12">
                    <div class="tilt-pk">
                        <ul class="cate">
                            <li id="channel_cate_{{$index}}" class="{{value === vm.channelBottomPage.cate?'active':''}}" ng-repeat="(key,value ) in vm.genres">
                                <a ng-click="vm.changeChannelCategory(value, $index)" href="">{{key}}</a>
                            </li>  
                        </ul>
                    </div>
                    <div class="col-list-tin col-sm-12">
                        <channelbottom></channelbottom>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript" src="assets/js/update-data-ui.js"></script> 