<div class="pp-wrp">
    <div class="top-pp">
        <h4>
            Chọn tập phim
        </h4>
    </div>
    <div class="pp-content">
        <div class="eps-content" id="Episode">
            <ul>
                <li class="eps-li {{vm.selectedEpId === vod.program.id?'item-hover':''}}" ng-repeat="vod in ::vm.vodSeries" id="{{vod.program.id}}">
                    <a class="eps-a " href=""  ng-click="vm.selectEpisode(vod)">
                        {{vod.program.title[0].text}}
                    </a>
                </li>
            </ul>
        </div>

        <button style="display: none" id="closeEpsSelectDlg" ng-click="vm.closeEpsodeSelectDlg()"></button>

    </div>
</div>