<div class="voddetail main-wrap detail-wrap" ng-cloak>
    <div class="main-top">
        <div class="container fix-container">

            <div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <span class="close-full" data-dismiss="modal" aria-label="Close"></span>
                <div class="modal-dialog" role="document">
                    <div class="pp-wrp">
                        <div class="pp-content">
                            <!--<img src="img/trailer.png" alt="">-->
                        </div>
                    </div>
                </div>
            </div>
            <!--home tv chanel-->
            <div class="row tv-chanel-top free-detail fix-thumb" id="videoPlayerZoneId">
                <!-- Detail-->
                <div class="col-sm-12">
                    <div class="vd-list-detail">
                        <div class="col-md-left">
                            <div class="video-pl" id="vodImageId">
                                <img ng-src="{{Constant.APIHost}}/api1/contents/pictures/{{vm.vod.program.id}}?access_token=00536aefb1f78bca51f8b3fde6f643c5" alt="">
                                <a href="" id="vodPlayLink" class="glyphicon glyphicon-play" ng-click="vm.playVOD()"></a>
                            </div>
                            <!--                            <div class="ul-favorite">
                                <ul>
                                    <li><span>Add to Favorite VOD</span></li>
                                    <li><span>Package Purchase</span></li>
                                    <li><span>Retail Purchase</span></li>
                                </ul>
                            </div>-->
                        </div>
                        <div class="col-md-right">
                            <div class="title-h2">
                                <b>{{::vm.vod.program.title[0].text}}</b>
                                <ul class="list-dt-fac">
                                    <li ng-if='vm.type'><span class="dt-00">
											<div class="dropdownfix-op">
												<button class="btn btn-primary dropdown-toggle"
													type="button" data-toggle="modal"
													ng-click="vm.openVodSeriesPopup()">
													<span class="name_po"> Tập
														{{vm.vod.program.series.episodeName}}</span>
                                        </button>
                                        <!-- Login -->
                                        <!-- Login -->
                            </div>
                            </span>
                            </li>
                            <li><span class="dt-01"><img
											src="assets/img/sao.png" alt="">
											{{::vm.vod.program.likes.total}}</span><i class="i-line"></i></li>
                            <li ng-if="vm.vod.program.parental_rating !== '0'"><span class="dt-02">{{::vm.vod.program.parental_rating}}</span><i class="i-line"></i></li>
                            <!--<li><span class="dt-03"> <img
											ng-src="{{Constant.APIHost}}/api1/contents/pictures/{{vm.vod.program.provider.id}}?type=original"
											alt="" on-error-src="assets/img/novell.gif"
											style="max-width: 48px !important; max-height: 25px !important">
									</span><i class="i-line"></i></li>-->
                            <li><span class="dt-04">{{::vm.vod.duration}}p.</span><i class="i-line"></i></li>
                            <li><span class="dt-05">{{::vm.vod.program.production_country.substring(0,vm.vod.program.production_country.length -1)}}</span><i class="i-line"></i></li>
                            <!--<li><span class="dt-06"><img src="assets/img/icon-khoa.png" alt=""></span><i class="i-line"></i></li>-->
                            <!--                                    <li><span class="dt-07">V-Wallet</span><i class="i-line"></i></li>
                                <li><span class="dt-08">Bonus V-Wallet</span></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="video-detail-ct">
                        <!--<p class="discount" ng-if="vm.vod.product[1].promotion">Discount Price {{vm.vod.product[1].promotion.discount_rate}}%</p>-->
                        <!--                                <div class="fx-price">
                                <ul>
                                    <li ng-if="vm.vod.product[1].price[0].value !== 0">Giá:   <span class="sp0m" >{{vm.vod.product[1].price[0].value}}</span> {{vm.vod.product[1].price[0].currency}}<i class="i-line"></i></li>
                                    <li ng-if="vm.vod.product[1].price[0].value === 0">Giá:   <span class="sp0m" >Miễn phí</span>
                                    <li>Retail Price   <span>50.000</span> VND</li>
                                </ul>
                            </div>-->
                        <!--<p class="synosys">Tóm tắt</p>-->
                        <div class="ct-vd-des-v">
                            {{::vm.vod.program.synopsis[0].text}}</div>
                        <!--<p class="synosys">Thông tin thêm</p>-->
                        <div class="gence">
                            <ul>
                                <li><span class="gen-l">Thể loại</span> <span class="tag-bt" ng-repeat="genre in ::vm.vod.program.genres">{{genre}}
									</span></li>
                                <li><span class="gen-l">Đạo diễn</span> <span class="tag-bt" ng-repeat="dir in ::vm.vod.program.directors_text[0].text.split(',')">{{dir}}
									</span><i class="i-line"></i> <span class="star0v">Diễn viên </span> <span class="tag-bt" ng-repeat="star in ::vm.vod.program.actors_text[0].text.split(',')">{{star}}
									</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END Detail-->
    <!-- tin lien quan -->

    <div class="row-fill fix-thumb" ng-if='vm.relatedVodList !== null' id="relatedVodList">
        <div class="col-sm-12">
            <div class="tilt-pk">
                <h4>Nội dung liên quan</h4>
                <!-- <a ng-if="item.contents.length" class="view-all-d" href="" ng-click="vm.gotoMenu(item)">Xem tất cả</a> -->
            </div>
            <div class="scroll-thumb">
                <vodslider id="slider-0" ng-if="!item.isSeriesCategory" slidename="one_line_slide" cssclass="slider-action-new" videolist="vm.relatedVodList" slicksettings="slider_action_new" slickdata="item.isDataLoaded"></vodslider>
                <vodslider id="slider-0" ng-if="::item.isSeriesCategory" slidename="ep_series_vod_slide" cssclass="slider-action-new" videolist="vm.relatedVodList" slicksettings="slider_action_new" slickdata="item.isDataLoaded"></vodslider>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="assets/js/update-data-ui.js"></script>
<script>
    $('#playerPanel').hide();
</script>