<div class="pp-wrp">
    <div ng-switch="vm.changeType">
        <div ng-switch-when="changePass" class="wave">
            <div class="top-pp"><h4>Đổi mật khẩu</h4></div>
            <div class="pp-content">
                <p class="pt-login-tt" ng-if="vm.changeMsg !== '' ">Mật khẩu hiện tại sẽ sớm hết hạn. Vui lòng thay đổi mật khẩu</p>
                <form name="changepassForm"  id="changepassForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': changepassForm.currentpass.$touched && changepassForm.currentpass.$invalid }">
                        <input type="password" name="currentpass" class="form-control" id="" placeholder="Mật khẩu hiện tại" required ng-model="vm.passwordObject.currentpass" ng-minlength="1">
                        <div class="help-block" ng-messages="changepassForm.currentpass.$error" ng-if="changepassForm.currentpass.$touched">
                            <p ng-message="minlength">Mật khẩu hiện tại quá ngắn.</p>
                            <p ng-message="maxlength">Mật khẩu hiện tại quá dài.</p>
                            <p ng-message="required">Mật khẩu hiện tại là bắt buộc.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': changepassForm.newpass.$touched && changepassForm.newpass.$invalid }">
                        <input type="password" name="newpass" class="form-control" id="" placeholder="Mật khẩu mới"  ng-model="vm.passwordObject.newpass" required ng-minlength="1" ng-maxlength="50">
                        <div class="help-block" ng-messages="changepassForm.newpass.$error" ng-if="changepassForm.newpass.$touched">
                            <p ng-message="minlength">Mật khẩu mới quá ngắn.</p>
                            <p ng-message="maxlength">Mật khẩu mới quá dài.</p>
                            <p ng-message="required">Mật khẩu mới là bắt buộc.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': changepassForm.reenternewpass.$touched && changepassForm.reenternewpass.$invalid || (changepassForm.reenternewpass.$viewValue != changepassForm.newpass.$viewValue) }">
                        <input type="password" name="reenternewpass" class="form-control" id="" placeholder="Mật khẩu nhập lại" ng-model="vm.passwordObject.reenternewpass" required ng-minlength="1">
                        <span class='help-inline' ng-show='changepassForm.reenternewpass.$valid'>
                            <i class='icon-ok'></i>
                        </span>
                        <div class="help-block" ng-messages="changepassForm.reenternewpass.$error" ng-if="changepassForm.reenternewpass.$touched">
                            <p ng-message="minlength">Mật khẩu nhập lại quá ngắn.</p>
                            <p ng-message="required">Mật khẩu nhập lại là bắt buộc.</p>
                            <p ng-show="(changepassForm.reenternewpass.$viewValue != changepassForm.newpass.$viewValue)">Mật khẩu nhập lại phải trùng với mật khẩu mới.</p>
                        </div>
                    </div>
                    <p ng-if="(vm.resultMsg !== '')" class="pt-login-tt">
                        {{vm.resultMsg}}
                    </p>
                    <hr class="line-pp">
                    
                    <div class="row">
                        <div class="col-md-6" ><button name="changepass_submit" class="btn btn-default" ng-if="(vm.resultChange !== 'okie')" ng-disabled="!changepassForm.$valid || (changepassForm.reenternewpass.$viewValue != changepassForm.newpass.$viewValue)" ng-click="vm.changePassword()">Đổi mật khẩu</button></div>
                        <div class="col-md-6" ><button name="changepass_close" class="btn btn-default" ng-click="vm.closePasswordDialog()">Đóng</button></div>
                    </div>
                    
                </form>
            </div>

        </div>
        <div ng-switch-when="forgotPass" class="wave">
            <div class="top-pp"><h4>Lấy lại mật khẩu</h4></div>
            <div class="pp-content">
                <form name="forgotPass" novalidate ng-if="vm.resultStep2Type == ''" >
                    <span>Bước 1/2</span> 
                    <p class="pt-login-tt">{{vm.resultMsg}}</p>
                    <div class="form-group" ng-class="{ 'has-error': forgotPass.account.$touched && forgotPass.account.$invalid }">
                        <input name="account" class="form-control" id="exampleInputEmail1" placeholder="Số điện thoại của bạn" required ng-model="vm.forgotPass.account" ng-minlength="10">
                        <div class="help-block" ng-messages="forgotPass.account.$error" ng-if="forgotPass.account.$touched">
                            <p ng-message="minlength">Số điện thoại quá ngắn.</p>
                            <p ng-message="maxlength">Số điện thoại quá dài.</p>
                            <p ng-message="required">Số điện thoại là bắt buộc.</p>
                        </div>
                    </div>
                    <div ng-if="vm.resultStep1 != 'okie'" >
                        <p class="nomarl">Nhập số điện thoại để nhận mã xác thực</p>
                        <p class="pt-login-tt ng-binding"></p>   
                        <div class="row">
                            <div class="col-md-7"><button class="btn btn-default" ng-click="vm.getVerificationCode()">Gửi mã xác thực</button></div>
                            <div class="col-md-5"><button class="btn btn-default" ng-click="vm.closePasswordDialog()">Đóng</button></div>
                        </div>
                    </div>
                    <div ng-if="vm.resultStep1 == 'okie'" class="wave">
                        <span>Bước 2/2</span> 
                        <p class="pt-login-tt"></p>
                        <div class="form-group" ng-class="{ 'has-error': forgotPass.verificationCode.$touched && forgotPass.verificationCode.$invalid }">
                            <input class="form-control" id="" name="verificationCode"  placeholder="Nhập mã xác thực" ng-model="vm.verificationCode"  required ng-minlength="4" ng-maxlength="10">
                            <div class="help-block" ng-messages="forgotPass.verificationCode.$error" ng-if="forgotPass.verificationCode.$touched">
                                <p ng-message="minlength">Nhập mã xác thực quá ngắn.</p>
                                <p ng-message="maxlength">Nhập mã xác thực quá dài.</p>
                                <p ng-message="required">Nhập mã xác thực là bắt buộc.</p>
                            </div>
                        </div>
<!--                        <div class="form-group" ng-class="{ 'has-error': forgotPass.password.$touched && forgotPass.password.$invalid }">
                            <input type="password" class="form-control" id="" name="password"  placeholder="Mật khẩu mới" ng-model="vm.forgotPass.password" required ng-minlength="6" ng-maxlength="50">
                            <div class="help-block" ng-messages="forgotPass.password.$error" ng-if="forgotPass.password.$touched">
                                <p ng-message="minlength">Mật khẩu mới quá ngắn.</p>
                                <p ng-message="maxlength">Mật khẩu mới quá dài.</p>
                                <p ng-message="required">Mật khẩu mới là bắt buộc.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': forgotPass.confrimPassword.$touched && forgotPass.confrimPassword.$invalid }">
                            <input type="password" class="form-control" id="" name="confrimPassword"  placeholder="Nhập lại mật khẩu mới" ng-model="vm.forgotPass.confrimPassword"  required ng-minlength="6" ng-maxlength="50">
                            <div class="help-block" ng-messages="forgotPass.confrimPassword.$error" ng-if="forgotPass.confrimPassword.$touched">
                                <p ng-message="minlength">Nhập lại mật khẩu quá ngắn .</p>
                                <p ng-message="maxlength">Nhập lại mật khẩu mới quá dài.</p>
                                <p ng-message="required">Nhập lại mật khẩu mới là bắt buộc.</p>
                                <p ng-show="(forgotPass.confrimPassword.$viewValue != forgotPass.password.$viewValue)">Mật khẩu và xác nhận mật khẩu không khớp.</p>
                            </div>
                        </div>-->
                        <p class="nomarl">Nhập mã xác thực</p>
                        <!--<p class="nomarl">Nhập mã xác thực và mật khẩu mới</p>-->
                        <hr class="line-pp">
                        <p ng-if="(vm.resultMsg2 !== '')" class="pt-login-tt">
                            {{vm.resultMsg2}}
                        </p>
                        <div class="row">
                            <!--<div class="col-md-6"><button class="btn btn-default" ng-click="vm.resetPassword()" ng-disabled="!forgotPass.$valid || (forgotPass.confrimPassword.$viewValue != forgotPass.password.$viewValue)">Reset password</button></div>-->
                            <div class="col-md-6"><button class="btn btn-default" ng-click="vm.resetPassword()" ng-disabled="!forgotPass.$valid">Reset password</button></div>
                            <div class="col-md-6"><button class="btn btn-default" ng-click="vm.closePasswordDialog()">Đóng</button></div>
                        </div>
                    </div>
                </form>
                <div ng-if="vm.resultStep2Type == 'okie'">
                    <p ng-if="(vm.resultMsg2 !== '')" class="pt-login-tt">
                        {{vm.resultMsg2}}
                    </p>
                    <hr class="line-pp">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3"><button class="btn btn-default" ng-click="vm.closePasswordDialog()">Đóng</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="activePass" class="wave">
            <div class="top-pp"><h4>Kích hoạt mật khẩu</h4></div>
            <div class="pp-content">
                <p style="text-align: center">Turn on turn off your password for purchasing</p>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-6">
                            <input name="radioGroup" id="radio1" value="on" type="radio"  ng-model="vm.activePass" > ON
                        </div>
                        <div class="col-md-6">
                            <input name="radioGroup" id="radio2" value=off type="radio"  ng-model="vm.activePass" > OFF
                        </div>
                    </div>
                </div>

                <p style="text-align: center">{{vm.activePassMsg}}</p>
                <hr class="line-pp"/>
                <div class="row">
                    <div class="col-md-6"><button class="btn btn-default" ng-click="vm.activePassword()">Lưu</button></div>
                    <div class="col-md-6"><button class="btn btn-default" ng-click="vm.closePasswordDialog()">Đóng</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

