.detail_list .tilt-pk{
	width:100%;
	display:inline-block;
	border-bottom:1px solid #919292;
}
.detail_list .tilt-pk h4{    line-height: 30px;
    margin-bottom: 0;}
.detail_list .tilt-pk h4 a{color:#000}
.detail_list .tilt-pk h4 span{
	font-size: 14px;
    color: #655C5C;
	margin-left:5px;
}
.grid-fix{margin:0 -15px;}
@media screen and (max-width: 1260px) and (min-width: 991px){
	.grid-fix .grid-item {
		max-width: 150px;
		margin: 0px 23px 20px 23px;
		min-height: 208px;
	}
	.grid-fix{margin:0 -23px;}
}
@media screen and (max-width: 990px) and (min-width: 768px){
	.grid-fix .grid-item {
		max-width: 150px;
		margin: 0px 23px 20px 23px;
		min-height: 208px;
	}
	.grid-fix{margin:0 -23px;}
}
@media screen and (max-width: 479px) and (min-width: 320px){
	.detail_list .tilt-pk {
		margin-top:0;
	}
}