* {

}

.app-mobile{display:block;}
.app-mobile {
    display: block;
    background: #fff;
    line-height: 16px;
    font-size: 12px;
    padding: 4px 0 5px;
    position: relative;
}
.close-app {
    position: absolute;
    left: 7px;
    top: 25px;
    width: 10px;
    height: 10px;
    background: url(../img/close-tr.png) no-repeat;
    background-size: 100% 100%;
    display: block;
}
.xem-app {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 14px;
    text-transform: uppercase;
}
.icon-app-mb {
    float: left;
    margin: 0 10px 0 25px;
}
.slider-tv {
    z-index: 10;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;

}
.slider-tv div {
    padding: 0 5px 10px;
    display: inline-block;
    white-space: nowrap;
}
.play-detail {
    margin-bottom: 15px;
    margin-top: -15px;
}
.play-detail .col-sm-12{
    padding:0;

}
.service-info {

}
.service-info ul li{
    padding:10px 25px;
    width:100%;
    border-bottom: 1px solid #141414;
}
.service-info ul li img{margin-right:20px; vertical-align:middle;}
.service-info ul li:last-child{
    border-top:1px solid #343434;
    border-bottom:none;
}
.login-system{display:none}
.service-info ul li a{
    color:#fff;
}
.menu-mobile{display:block;}
.menu-mobile {
    display: inline-block;
    width: 100%;
    background: rgba(76,76,76,0.9);
    position: absolute;
    padding: 2px 0;
    z-index: 1;
}

.menu-mobile li{
    float:left;
    width:20%;
}
.menu-mobile li a{
    display:block;
    padding:0px 0px;
    margin:3px 0;
    color:#fff;
    text-transform:uppercase;

    text-align:center;
}
.menu-mobile li:last-child a{border:none;}
.navbar-toggle {
    display: block;
}
.mega-dropdown .caret {
    display: block;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 0px 0px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-text {
    float: none;
    margin: 15px 0;
}
.navbar-collapse.collapse.in { 
    display: block!important;
}
.collapsing {
    overflow: hidden!important;
}
.mega-dropdown-menu > li > ul > li {
    /*background: rgba(0, 0, 0, 0) url("../img/li-menu.png") no-repeat scroll 5px 13px;*/
    list-style: outside none none;
    padding-left: 10px;
}
.mega-dropdown-menu ul li {
    display: inline-block;
}
.tilt-pk{margin-top:15px;}
.navbar-collapse  {
    margin: 0;
    position: absolute;
    left: -290px;
    height: 100%;
    width: 290px;
    transition:All 1s ease,opacity 0s ease;
    -webkit-transition:All 1s ease,opacity 0s ease;
    -moz-transition:All 1s ease,opacity 0s ease;
    -o-transition:All 1s ease,opacity 0s ease;
    background: #0d7f80;
    top:0;
    padding: 10px;
}
.device.login {
    display:block;
}
.login {
    display:none;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.submenu-bg{display:none;}
.navbar-collapse.collapse.in {
    left: 0;
    top: 0;
    background: #000;
    z-index: 100;
    opacity:1;
    padding: 10px 0;
    overflow:auto !important;
    height: 100% !important;
}
.logo-mob {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    position:relative;
}
.hidden-mb{display:none !important;}
.logo-mob .close-mn{
    float: right;
    position: absolute;
    left: 25px;
    top: 5px;
}
.menu-top .collapse {
    min-height:500px;
}
.navbar-nav  li.open .dropdown-menu{padding-top:0 !important;}
.menu-cap2{display:inline-block; width:100%;margin-top:10px;}
.menu-cap2 ul li{
    float:left;
    width:auto;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    text-transform:uppercase;
    background: none;
}
.caret-sub {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: top;
    width: 0;
    color: #fff;
    margin-top: 5px;
    margin-left: 5px;
}
.menu-cap2 ul li a{
    color:#fff;
    border-right:1px solid #fff;
    display:block;
    padding-right:10px;
    margin-right:10px;
    text-align:center;
    margin-top:10px;
}
.menu-cap2  strong{font-size:16px;color:#fff; text-transform:uppercase}
.menu-cap2 ul li:last-child a{border-right:none;}
.col-mk {
    background: #000000 none repeat scroll 0 0;
    float: right;
    padding: 3px 10px;
    margin-left: 0;
    margin-top: 10px;
}
.wp-search{
    width: 350px;
}
.search{width:84%;}
.sucess .search {
    width: 68%;
}
.login .login-btn {
    padding: 5px 0px;
    font-size: 13px;
}
.menu1 .caret, .menu2 .caret, .menu3 .caret, .menu5 .caret {
    display: block !important;
    z-index:99;
}
.menu1 .dropdown-menu, .menu2.dropdown-menu, .menu3 .dropdown-menu, .menu5 .dropdown-menu {
    display: block !important;
}
.mega-dropdown-menu ul li a{padding:0;}
.mega-dropdown-menu ul li a {
    display: block;
    padding: 0 0px;
    border-right: none;
    text-transform: uppercase;
    padding: 5px 9px;
    text-align:left;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: none;

}
.sub-menu  li{width:100%;}
.sub-menu{width:100%;}
.mega-dropdown-menu .col-md-12{padding:0;}
.search.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 0px;
    top: -42px;
}
.menu-top .navbar-inverse .navbar-brand {

    padding: 14px 0;
    margin-right: 0;
    text-align: center;
    text-indent:-50px;
}
.menu-top .navbar-inverse .navbar-brand  img{display:initial;}
.navbar-inverse .navbar-toggle{
    float:left;
}
.mega-dropdown .caret {
    border-width: 7px;
    display: block;
    float: right;
    margin-top: 9px;
    color: #fff;
}
.menu-top .navbar-nav > li.dropdown {
    /*border-bottom: 1px dotted #ccc;*/
    padding: 10px 15px;
    width: 100%;
    float: left;
}
.filter-as {
    top: 41px;
}
.filter-as {
    position: absolute;
    z-index: 10;
    top: 45px;
    width: 99%;
    left: 0px;
    padding: 15px 0 5px;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    border: 1px solid #544D4D;
    border-top: none;
}
.mega-dropdown-menu > li{
    position:initial;
    white-space:normal;
}
.mega-dropdown-menu > li > ul {
    margin-left: 0% !important;
}
.sucess-login span {
    margin-top: 6px;
    display: inline-block;
}
.mega-dropdown-menu{height:auto;position: initial;}
.navbar-nav > li {
    float: left;
    position: static !important;
}
.navbar-nav > li.service-info{display:block;border-top:1px solid #343434;}
.navbar-inverse .navbar-nav > li > a{
    display:inline;
    width:auto;
    font-weight:none;
}
.mega-dropdown-menu ul li a {
    display: block;
    padding: 0 0px;
    color: #fff !important;
    border-right: none;
    text-transform: normal;
    /*border-bottom: 1px solid #fff;*/
    padding: 5px 9px !important;
    text-align: left;
    font-size:14px !important;
}
.sucess-login {
    width: 100%;
    padding: 0px 0 25px 51px;
    color: #ffcc05;
    text-align: left;
    border-bottom: 1px solid #343434;
}
.sucess-login img{margin-right:20px;width:30px; height:30px;}
.mega-dropdown-menu > li > ul li.active-sub {
    border-bottom: none;
    background:url(../img/arrow-child.png) no-repeat 7px 10px;
}
.menu-top .navbar-nav > li.dropdown {
    border-bottom: 1px solid #141414;
    padding: 10px 15px 10px 0;
    width: 100%;
    float: left;
}
.menu-top .navbar-nav > li.dropdown:last-child{
    border-bottom:1px solid #343434;
}
.mega-dropdown-menu {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 15px 15px 0 15px !important;
    border-radius: 0;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
    color: #fcc115;
    text-transform:uppercase;
    font-size:15px;
}
.mega-dropdown-menu > li > ul li a{
    text-transform:normal;
    font-size:12px !important;
}
.mega-dropdown-menu > li > ul li.active-sub a {
    color: #ffcc05 !important;
}

/*-----------------*/
.device.login {
    display: block;
    width:100%;
}
.dropdownfix{width: 100%;display: none;}
.navbar-nav > li:last-child{
    width:100%;
}
.dropdownfix .btn {
    width:100%;
    border-bottom:1px dotted #fff;
}
.dropdownfix .btn-primary:active:hover, .dropdownfix .btn-primary.active:hover, .dropdownfix.open > .dropdown-toggle.btn-primary:hover, .dropdownfix .btn-primary:active:focus, .dropdownfix .btn-primary.active:focus, .dropdownfix.open > .dropdown-toggle.btn-primary:focus, .dropdownfix .btn-primary:active.focus, .dropdownfix .btn-primary.active.focus, .dropdownfix.open > .dropdown-toggle.btn-primary.focus {
    background: none;
    outline: none;
    color: #ffcc05;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-bottom:none;
}
.dropdownfix.open > .dropdown-menu {
    background:none;
    border:none;
    position:initial;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.dropdownfix .dropdown-menu > li > a{border:none; color:#fff;}
.dropdownfix .dropdown-menu > li:last-child a {
    border:none;
    background: #0D7677;
    color:#ffcc05;
}
.dropdownfix.open .caret {
    border-bottom: 7px dashed;
    border-top: none;
}
.dropdownfix .caret{border-width:7px;margin-right: 5px;}
.dropdownfix .dropdown-menu > li:first-child a {
    border-top: none;
}
.mega-dropdown.open .caret{
    border-bottom: 7px dashed;
    border-top: none;
    color:#ffcc05;
}
.dropdownfix .btn{
    color:#fff;
}
.menu-top .navbar-nav > li.dropdown{position:relative !important;}
.menu-top .navbar-nav > li.dropdown:last-child{border:none}
.drp-mn{
    position: absolute;
    height: 42px;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;

}
.mega-dropdown .caret{
    margin-top: 18px;
    margin-right: 16px;
}
.slider{display:block}

.slider.slide-itemtop {
    top: 42px;
    left: 7px;
    width: 100%;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 5px;
    display: block;
}
.slider.slide-itemtop .top-slide, .slider.slide-itemtop .poster-larger {
    display: inline-block;
    min-width: 150px !important;
    height: 346px;
    margin-left: 1px;
    width:auto !important;
}

.banner-top .thumbnail{max-width:242px;}
.img-kenh {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 42px;
    height: 13px;
}
.home-cinema .multiple-items .small .thubhover .caption h4, .multiple-items .small .thubhover .caption h4 {
    margin: 4px 0 2px;
    font-size: 14px;
    white-space: normal;
}
.small .list-trailer {
    margin-top: 3px;
    width: 100%;
    display: block;
}
.list-trailer{
    margin-top: 10px;
    width: 100%;
    display: block;
}
.watch-v, .slide_run2 .thubhover .caption.lager .watch-v {
    margin-top: 50px;
}
.slider.slide-itemtop .top-slide
.multiple-items .thubhover .caption h4 {
    font-size: 18px;
    margin-bottom: 0;
    white-space: normal;
}
.slider.slide-itemtop .top-slide {
    margin-left: 2px;
    margin-right: 10px;
}
.play-detail {
    margin-bottom: 15px;
}
.scroll-slider3 {
    height: 191px;
}
.slider-thub3 {
    top: 42px;
    left: 7px;
    width: 100%;
    height: 190px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    margin: 0;
}
.slider-thub3 .tv-sl {
    display: inline-block;
    width: 284px !important;
    height: 200px;
    margin-left: -2px;
}
.slider-thumb4 {
    top: 42px;
    left: 7px;
    width: 100%;
    height: 215px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 20px;
}
.slider-thumb4 .sli {
    display: inline-block;
    width: 150px;
    height: 214.5px;
    margin-left: 1px;
}
.hr-line{margin-top:0;}
.slider-thumb4 .thumbnail {
    width: 100%;
}

.small .thubhover .caption h4, .sli .thubhover .caption h4, .top-slide .thubhover .caption h4{white-space:normal;}
.slider-thumb4.slide_run2 {
    top: 42px;
    left: 7px;
    width: 100%;
    height: 465px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    margin: 0;
}
.slider-thumb4.slide_run2 .top-slide, .slider-thumb4.slide_run2 .poster-larger {
    display: inline-block;
    min-width: 150px !important;
    height: 208px;
    margin-left: 0px;
    width: auto !important;
}
.home-cinema-wp .tilt-pk{margin-bottom:10px; margin-top:20px;}
.slide_run2 .lager-lo .thubhover .caption h4 {
    font-size: 24px;
    white-space:normal;
}
.slider-thumb4 .thubhover .caption.lager {
    padding: 20px;
}
.nb-point {
    font-size: 22px;
}
.slider-thumb4 .lager-lo .thubhover table td.first-td {
    font-size: 21px;
    text-align: left;
}
.slider-thumb4 .lager-lo .thubhover table td.last-td{
    font-size: 28px;
    text-align: right;
}
.slider-thumb4 .lager-lo .thubhover .watch-v{font-size:28px; margin-top:85px;padding: 10px 0;}
.slider-thumb4 .lager-lo .thubhover .list-trailer li a {
    color: #fff;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
}
.slider-thumb4 .lager-lo .thubhover .list-trailer{
    margin-top: 25px;
    display:block !important;
}
.slider-thumb4 .lager-lo .thubhover table {
    margin-top: 20px;
}
.slider-thumb4 .thubhover img.slider-hover {
    min-height:214.5px;
}
.slide_run2.slider-thumb4 .lager-fix .thumbnail img {
    max-height: 429px;
    min-width: initial;
}
.slider-tv{padding-bottom:13px;}
.slide_run2 .thum-sub-n{margin-bottom:0;}
.slide_run2 .top-slide:first-child{margin-right:1px;}
.free-detail .slider-thumb4{height:225px;}
.mega-dropdown-menu{height:auto}
@media screen and (min-width: 768px) and (max-width:1024px){
    .slider.slide-itemtop .top-slide, .slider.slide-itemtop .poster-larger{
        min-width:130px !important;
    }
}
@media screen and (min-width: 992px) and (max-width:1024px){
    .menu-top .navbar-nav > li > a{
        padding: 18px 23px 17px;
    }
    .main-wrap {
        margin-top: 50px;
    }
    .slider.slide-itemtop{
        height:365px;
    }

}
@media screen and (min-width: 768px) and (max-width:991px){
    .slider-tv{
        position: relative;
        width: 100%;
        left: 0;
        padding-left: 5px;
    }
    .col-sm-right {
        float: none;
        margin: 0px 0px 0 0px;
        width: 738px;
        display: inline;
    }
    .banner-top .small .thumbnail {
        max-height: 214.5px;
        max-width: 152px;
        overflow: hidden;
    }
    .banner-top .thumbnail {
        max-width: 312px;
    }
    .slider.slide-itemtop .top-slide, .slider.slide-itemtop .poster-larger {
        min-width: 150px !important;
        height:auto;
        margin-right: 1px;
    }
    .thubhover .caption h4{white-space:normal; font-size:24px;}

    .banner-top .thum-sub-n:last-child{margin-bottom:0;}
    .slide_run2.slider-thumb4 .lager-fix .thumbnail{
        width:auto;
    }
    .slide_run2.slider-thumb4 .lager-fix .thumbnail img {
        max-height: 430px;
        min-width: inherit;

        height:auto;
    }
    .slide_run2.slider-thumb4 .lager-fix .thumbnail img{min-height:auto;}
}


@media screen and (min-width: 992px) and (max-width:1024px){
    .Banner-top {
        top: 0px;
        left: 0px;
    }

    .row.banner-top {margin-left: -30px;margin-right: -30px;margin-top: -20px;}

}