body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: #d8d9d9;
	font-weight: normal;
}
a:hover{text-decoration: none;color: #FFCC05} 
* {
    outline: none;
}
.btn,a {
	text-decoration: none;
  -o-transition:color .1s ease-out, background.1s ease-in;
  -ms-transition:color .1s ease-out, background.1s ease-in;
  -moz-transition:color .1s ease-out, background.1s ease-in;
  -webkit-transition:color .1s ease-out, background.1s ease-in;
  /* ...and now for the proper property */
  transition:color .1s ease-out, background.1s ease-in;
}
ul{padding: 0; margin: 0;}
ul li{list-style: none;}
img{
	max-width: 100%;
	height: auto;
}
/*.thum-sub-n,.thub3-ct,.view-vip-sknb,.col-mk-p,.col-list-tin ul li{
-moz-transition:-moz-transform 0.2s ease-in; 
-webkit-transition:-webkit-transform 0.2s ease-in; 
-o-transition:-o-transform 0.2s ease-in;
}*/
.thum-sub-n:hover,.thub3-ct:hover,.view-vip-sknb:hover,.col-mk-p:hover,.col-list-tin ul li:hover{
-moz-transform:scale(1.1); 
-webkit-transform:scale(1.1);
-o-transform:scale(1.1);
}
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.slick-list,.owl-carousel .owl-wrapper-outer{overflow:inherit}
#slider-top.owl-carousel .owl-wrapper-outer{overflow:hidden}
.multiple-items .slick-list{overflow:hidden;}
/* Topbar
=====================================================*/
.fix-container{width: 1260px ; 
	/*-webkit-box-shadow: inset 15px 3px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 15px 3px 0px 0px rgba(0,0,0,0.75);
box-shadow: inset 15px 3px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: inset 15px 3px 0px 0px rgba(255,40,0,0.75),inset -15px 3px 0px 0px rgba(255,40,0,0.755);
-moz-box-shadow:  inset 15px 3px 0px 0px rgba(255,40,0,0.75),inset -15px 3px 0px 0px rgba(255,40,0,0.75);
box-shadow:  inset 15px 3px 0px 0px rgba(255,40,0,0.75),inset -15px 3px 0px 0px rgba(255,40,0,0.75);*/
}
.main-top .fix-container{overflow:hidden;}
.frame{
	position: fixed;
	width: 170px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 10px 5px;
	height: 100%;
}
.topbar{
	width: 100%;
	background:#333333;
	padding: 0px 0; 
}
.list-top ul li{
	float: left;
}
.search .btn.btn-default > img {
    height: 18px;
    width: 18px;
}
.list-top ul li:first-child a{padding-left: 0}
.list-top ul li a{
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	border-right: 1px solid #4d4d4d;
	padding: 2px 20px 2px 20px;
	margin: 6px 0;
}
.list-top ul li a:hover{color: #ffcc05;}
.col-mk{
	background: #000000 none repeat scroll 0 0;
	float: right;
	padding: 0 30px;
}
.login .login-btn {
    background: none;
    border: medium none;
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 6px;
    color: #d8d9d9;
    text-transform: uppercase;
    padding: 5px 0;
}
.topup{
	position: fixed;
	top: 35%;
	z-index: 100;
}
.multiple-items .poster-larger.slick-slide img{width:325px;max-height:449px;}
.home-cinema .multiple-items .poster-larger.slick-slide img{width:330px;max-height:449px;}
.multiple-items .poster-larger.slick-slide ul li img,.home-cinema .multiple-items .poster-larger.slick-slide ul li img{width:auto}
.modal-dialog{margin-top: 5%; width: 510px}
.pp-wrp{
	padding: 10px;
	background: #fff;
}
.multiple-items .slick-slide img{max-height:214.5px;}
.pp-content{
	background: #d8d9d9;
	padding: 40px;
	color: #2b292c;
}
.pp-content h4{
	font-size: 24px;
	margin-top: 0;
	padding-bottom: 38px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #4d4d4d;
	margin-bottom: 37px;
}
.pp-wrp .form-group{
	margin-top: 20px;
}
.pp-wrp .form-group input{
	border: 1px solid #939191;
	padding: 10px 10px;
	font-size: 15px;
	color: #2b292c;
	border-radius: 1px 1px 1px 1px;
	-moz-border-radius: 1px 1px 1px 1px;
	-webkit-border-radius: 1px 1px 1px 1px;
	height: 52px;
}
.pp-wrp .btn{
	background: #0d7f80;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
}
.pp-wrp .btn:hover{
	opacity: 0.8;
}
.pp-wrp a{
	font-size: 15px;
	color: #0d7f80;
	text-decoration: underline;
}
.pp-wrp p{text-align: center;}
.pp-wrp p.fogot{padding:20px 0 40px; border-bottom: 1px solid #4d4d4d }
.pp-wrp p.singup-text{font-size: 15px; margin-top: 26px }


/* SQUARED THREE */
.squaredThree {
    display: inline-block;
    margin: 4px 0 36px;
    position: relative;
    width: 100%;
}
.squaredThree input{display: none;}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	border-radius: 4px;
	margin-right: 20px;
	border: 1px solid #939191;
	font-weight: normal;
}
.squaredThree label span {
    display: block;
    margin-left: 35px;
    width: 160px;
    margin-top: 3px;
}
#myModal2 .squaredThree label span {
    display: block;
    margin-left: 35px;
    margin-top: 3px;
    width: 280px;
    font-size: 15px;
}
#myModal2 .squaredThree label span a{ 
	color: #0d7f80;
}
#myModal2 .pp-wrp .btn{
	background: #fcc115;
}
.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 18px;
	height: 9px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #939191;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/* MENU 
=====================================================*/
.menu-top .navbar-nav > li > a.active{color: #FFCC05}
.custom-search-form .input-group-btn .btn  {
	    border-right: none;
    background: #fff;
    height: 34px;
    width: 30px;
    padding: 0 0 0 5px;
}
.custom-search-form  input{border-left: none;}
.mega-dropdown {
  position: static !important;
}
.navbar-inverse .navbar-nav > li > a{color: #fff; text-transform: uppercase; font-size: 15px; font-weight: 500;}
.mega-dropdown-menu {
    background-color: rgba(77, 77, 77, 0.9);
    box-shadow: none;
    margin-left: 14%;
    padding: 45px 0px 45px 45px;
    width: 73%;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown .caret{display: none;}
.mega-dropdown-menu > li > ul > li {
    background: rgba(0, 0, 0, 0) url("../img/li-menu.png") no-repeat scroll 5px 13px;
    list-style: outside none none;
    padding-left: 10px;
}
.mega-dropdown-menu > li > ul > li > a,.mega-dropdown-menu > li > ul > li > div > a {
  display: block;
  color: #d8d9d9;
  padding: 4px 5px;
}
.mega-dropdown-menu > li > ul > li > a:hover{
	color: #fff;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu > li ul > li.dropdown-footer{background: none; padding-left: 0;}
.mega-dropdown-menu .dropdown-header {
  font-size: 16px;
  color: #d8d9d9;
  padding: 0px 0px 5px 5px;
  line-height: 20px;
  font-weight: 500;
  background: none;
  text-transform: uppercase;
}
.mega-dropdown-menu .list-kenh {
    float: left;
    padding-right: 25px;
}
.menu4 .mega-dropdown-menu{
	width: 85%;
}

.img-list-tv-ch a img{margin-bottom: 20px;}
.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.menu-top {background: #4d4d4d}
.menu-top .navbar-collapse{
	padding: 0;
	background: none;
}
.menu-top  .navbar-inverse{
	background: none;
	border: none;
	margin-bottom: 0;
}
.fix-r{margin: 0 -8px;}
.mega-dropdown-menu .fix-r ul li{
	padding: 4px 4px;
	float: left;
}
.menu-top .navbar-inverse .navbar-brand{
	width: auto;
	padding: 23px 0;
	margin-right: 90px;
}
.mega-dropdown-menu ul.list-ig li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    padding: 20px 43px 0 0;
}
.mega-dropdown-menu ul.list-ig li:last-child{
	padding-right: 0;
}
.menu3 .mega-dropdown-menu {
    margin-left: 18%;
    width: 65%;
}
.menu2 .mega-dropdown-menu {
    margin-left: 18%;
    width: 74%;
}
.menu4 .mega-dropdown-menu > li > .col-md-9{
	float: left;
	width: 16%;
}
.search{
	width: 240px;
    margin: 15px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-top .navbar-nav > li > a{padding: 24px 12px 20px; }
.custom-search-form{color: #2b292c}
.Banner-top.slick-initialized.slick-slider{
	-webkit-box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:0px 8px 20px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.95);
	border-left: 1px solid #979898;
	border-top: 1px solid #979898;
	border-right: 1px solid #979898;
	border-bottom: none;
}
.tilt-pk.slidetop{display:none;}
.banner-top .thumbnail{
	-webkit-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.95);
	-moz-box-shadow:0 8px 8px -8px rgba(0, 0, 0, 0.95);
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.95);
	border-left: 1px solid #979898;
	border-top: 1px solid #979898;
	border-right: 1px solid #979898;
	border-bottom: none;
}
.multiple-items .slick-slide .img-kenh,.multiple-items .poster-larger.slick-slide .img-kenh,.home-cinema .multiple-items .poster-larger.slick-slide .img-kenh{
	position: absolute;
    bottom: 5px;
    right: 5px;
	width:42px;
	height:13px;
}
.slider-thumb4 .thumbnail{
	border: 1px solid #979898;
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
width: 152px;
max-height: 212px;
}

.slider-thumb4 .thumbnail img{max-height: 214.5px}
.slide_run2.slider-thumb4 .thumbnail{
	max-height: 212px;
	width: auto;
}
.slide_run2.slider-thumb4 .lager-fix .thumbnail{max-height:inherit}
.slide_run2.slider-thumb4 .thumbnail img{max-height: 214.5px;}
.slide_run2.slider-thumb4 .lager-fix  .thumbnail img{max-height: 449px;min-width:330px;}
.slide_run2.slider-thumb4 .lager-fix  .thumbnail .list-rate img{max-height:inherit; min-width:inherit}
.modal{    background: url(../img/close.png) no-repeat 98% 10px;}
.main-wrap{margin-top: 45px;}
.slick-arrow{
	border: none;
	width: 53px;
	height: 50px;
	font-size: 0;
	position: absolute;
	top: 198px;
	background: none;
}
 .slick-prev{
	background: url(../img/next.png) no-repeat;
	left: -8px;
	z-index: 10;
	padding: 0;
}
.slick-next{
	background: url(../img/prev.png) no-repeat;
	right: -8px;
	z-index: 10;
	padding: 0;
}
.slick-prev:hover{
	background: url(../img/next_act.png) no-repeat;
}
.slick-next:hover{
	background: url(../img/prev_act.png) no-repeat;
}
.multiple-items {}
.multiple-items .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 0  29px 0px 0;
    width: auto !important;
}
.poster-larger .small{display: none;}
.multiple-items .slick-slide p {
    padding: 0 0px 20px;
    position: relative;
}
.multiple-items .slick-arrow{top: 200px;}
.multiple-items .slick-prev{left: -8px;}
.multiple-items .slick-next{right: -5px;}
.home-cinema .multiple-items .slick-next{right: 17px;}
.col-sm-left{
	float: left;
	width: 56.098%;
	margin-right: 14px;
	 position:relative; z-index:1;
}
.col-sm-left .slick-track{z-index:1}
.col-sm-right {
    float: right;
    width: 510px;
    margin-right: 0px;
    margin-left: 0;
	position:relative; z-index:2;
}
.slider-tv .slick-prev {
    background: rgba(0, 0, 0, 0) url("../img/idex/v2.png") no-repeat scroll 0 0;
    height: 25px;
    left: 0;
    top: 19px;
    width: 13px;
}
.slider-tv .slick-next{
	background: url(../img/idex/v34.png) no-repeat;
	width: 13px;
	height: 25px;
	top: 19px;
	right: 0px;
}
.slider-tv{
	padding: 20px 10px 14px;
	border-top: 2px solid #919292;
	border-bottom: 2px solid #919292;
	margin-top: 20px;
}
.slider-tv div{ 
	text-align: center;
	vertical-align: bottom;
	height: 33px;
	position: relative;
}
.slider-tv div img{
	display: initial;
}
.slider-tv div a {
    display: inline-block;
    text-align: center;
    vertical-align: sub;
    width: 100%;
}
.banner-top .col-sm-5{padding-left: 5px;}
.hot{
	width: 63px;
	height: 23px;
	background: url(../img/hot.png) no-repeat;
	position: absolute;
	left: -3px;
	top: 15px;
	display: block;
	z-index: 1;
}
.banner-top .thumbnail {
    
    padding: 0;
    border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;

}
.thumbnail:hover .caption{display:block;}
 .thubhover .caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.55);
    width:100%;
    height:100%;
    display: none;
    color:#fff !important;
    z-index:2;
    padding: 25px;
   border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;

}
.thum-sub-n:hover .thubhover .caption{
	display:block !important;
}
.thubhover .caption ul.list-rate{
	margin-top: 15px;
	width: 100%;
	display: inline-block;
}
.thubhover .caption ul.list-rate li{
	float: left;
	margin-right: 3px;
}
.thubhover .caption ul.list-rate li.right-u{
	float: right;
	margin-right: 3px;
	margin-top: -7px;
}
.thubhover .caption h4{text-transform: uppercase; font-size: 26px;}
.thubhover .caption ul.list-rate li. {
    float: left;
    margin-right: 3px;
}
.right-u .hd{color:#2ba3ff;  font-size: 21px;font-weight: bold; margin-right: 10px;}
.right-u .tm{color:#f8102b; font-size: 21px;font-weight: bold; }
.thubhover table td{
	padding: 2px 0;
	color: #fff;
}
.thubhover table{width: 100%; margin-top: 20px;}
.thubhover table td.first-td{
	text-align: left;
	font-size: 21px;
	color: #fff;
	opacity: 0.9
}
.thubhover table td.last-td{
	text-align: right;
	font-size: 28px;
}
/*--------------------------*/
.thum-sub-n.small{padding-bottom: 0px;}
.small .thubhover .caption{padding: 13px;}
.small .thubhover .caption ul.list-rate{
	margin-top: 5px;
}
.small .list-trailer li {
    line-height: 10px;
}
.small .thubhover .caption ul.list-rate li{
	float: left;
	margin-right: 3px;
}
.small .list-trailer li a {
    font-size: 10px;
}
.small .thubhover .caption ul.list-rate li.right-u{
	float: right;
	margin-right: 3px;
	margin-top: -7px;
}
.lager-lo{padding-bottom:8px;}
.small .thubhover .caption h4{text-transform: uppercase; font-size: 12px;}
.small .thubhover .caption ul.list-rate li. {
    float: left;
    margin-right: 3px;
}
.small .right-u .hd{color:#2ba3ff;  font-size: 10px;font-weight: bold; margin-right: 10px;}
.small .right-u .tm{color:#f8102b; font-size: 10px;font-weight: bold; }
.small .thubhover table td{
	padding: 2px 0;
	color: #fff;
}
.small .thubhover table{width: 100%; margin-top: 0px;}
.small .thubhover table td.first-td{
	text-align: left;
	font-size: 10px;
}
.small .thubhover table td.last-td{
	text-align: right;
	font-size: 13px;
}
.small .watch-v {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 0;
}
.small .list-trailer {
    margin-top: 5px;
}
.small .list-trailer li {
    line-height: 10px;
}
/*--------------------------*/
.watch-v{
	width: 100%;
	display: inline-block;
	background: #fcc115;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 10px 0;
	margin-top: 30px;
	color: #000;
}
.watch-v:hover{color: #fff; background: #0d7f80}
.list-trailer {width: 100%; display: inline-block; margin-top: 15px;}
.list-trailer li{
	float: left;
	text-align: center;
	padding: 2px 10px;
	width: 50%;
}
.list-trailer li:first-child{
	border-right: 1px solid #fff;
}
.list-trailer li a{
	font-size: 21px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.tilt-pk h4{
	font-size: 25px;
	text-transform: uppercase;
	float: left;
	color: #414042;
	margin-top: 0;
	margin-right: 10px;
}
.tilt-pk ul li{
	float: left;
	border-right: 1px solid #555555;
	padding: 0 10px;
	line-height: 14px;
}
.tilt-pk ul li:last-child{border-right: none;}
.tilt-pk ul {
    margin-left: 18px;
    margin-top: 8px;
}
.tilt-pk ul li a{
	color: #414042;
	font-family: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
.tilt-pk {
	margin-top: 40px;
	width: 100%;
	display: inline-block;
}.slider { display: none; }
.slider.slick-initialized { display: block; }
.slider-thub3{
	padding: 0px 0px;
}
.slider-thub3 div.slick-slide{text-align: center;position: relative;}

.slider-thub3 div img{display: inherit; max-width:284px;max-height:189px;}
.slider-thub3{width: 1264px; margin: 0 -19px 0 -16px;}
.slider-thub3 .slick-prev{
	left: -1px;
	top: 35%;
}
.slider-thub3 .slick-next{
	right: 2px;
	top: 35%;
}

.slider-thub3 .thumb-sub {
    background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
    bottom: 2px;
    left: 2px;
    margin: 0 auto;
    padding: 7px 8px;
    position: absolute;
    text-align: left;
	width:88%;
}
.thumb-ikm{display:block;}
.slider-thub3 .thumb-sub span{float: right;color: #fff;}
.slider-thumb4{
	width: 1258px;	margin: 0 0px 0  -1px;
}
.slider-thub3 .thub3-ct{max-width:284px; margin:0 auto; position:relative;}
.slider-thumb4 .slick-track{left: 0.5px;}
.slide_run2.slider-thumb4 .slick-track{left: 0px;}
.slider-thumb4 .slick-slide{
	/*width: 180px !important;*/
}
.slider-thumb4 .sli{
	position: relative;
}
.new{
	width: 62px;
	height: 23px;
	background: url(../img/new.png) no-repeat;
	left: 0px;
	top: 20px;
	display: block;
	position: absolute;
	z-index: 2;
}
.thumbnail{padding: 0; background: none; position: relative; margin-bottom: 0;}
.sli .thumbnail h4{font-size: 12px;}
.img-sli{width: 150px; height: 214.5px;}
.slider-thumb4 .slick-arrow{top: 34%;}
.slider-thumb4 .thubhover .caption{
	padding: 10px;
}
.col-list-f-mv .ct-lkis img{width: 100%;}
.slider-thumb4 .thubhover img{}
.slider-thumb4 .right-u .hd{font-size: 10px; margin-right: 5px;}
.slider-thumb4 .right-u .tm{font-size: 10px;}
.slider-thumb4 .thubhover table td.first-td {
    font-size: 10px;
    text-align: left;
}
.chttt .slider-thub3 .slick-next{right: 21px;}
.chttt .slider-thub3 .slick-prev{left: -16px;}
.slider-thumb4  .thubhover table td.last-td {
    font-size: 13px;
    text-align: right;
}
.slider-thumb4 .thubhover table td{padding: 0px 0;}
.slider-thumb4  .thubhover table{margin-top: 0px;}
.slider-thumb4  .thubhover .caption ul.list-rate{margin-top: 5px;}
.slider-thumb4 .watch-v{
	font-size: 14px;
	padding: 5px 0;
	margin-top: 10px;
}
.slider-thumb4  .list-trailer{margin-top: 9px;}
.slider-thumb4  .list-trailer li a{
	font-size: 10px;
}
.slider-thumb4  .list-trailer li a:hover{color:#FFCC05}
.slider-thumb4  .list-trailer li{line-height: 10px;}
.slider-thumb4 .slick-prev {left: -16px}
.slider-thumb4 .slick-next {right: 8px;}
@media screen and (min-width: 991px) {
	.slide_run2.slider-thumb4 .slick-slide{
		width: auto !important;
		padding: 15px 28px 0 0px;
	}
}
.slide_run2.slider-thumb4 .slick-slide{

}
.slide_run2 .thubhover .caption h4{
	font-size: 12px;
}
.slide_run2 {
    width: 1243px;	margin:0 -5px 0 0px;
}
.slide_run2 .thum-sub-n{padding-bottom: 6px;}
.slide_run2.slider-thumb4 .slick-prev {
    left: -11px;
}
.slide_run2.slider-thumb4 .slick-arrow {
    top: 45.6%
}
.slide_run2.slider-thumb4 .slick-next {
    right: -1px;
}
.slide_run2 .thubhover .caption.lager h4{
	font-size: 26px;
}
.slide_run2 .thubhover .caption.lager ul.list-rate li.right-u {
    float: right;
    margin-right: 3px;
    margin-top: -7px;
}
.slide_run2 .thubhover .caption.lager ul.list-rate li {
    float: left;
    margin-right: 3px;
}
.slide_run2 .thubhover .caption.lager .right-u .hd {
    color: #2ba3ff;
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}
.slide_run2 .thubhover .caption.lager .right-u .tm {
    color: #f8102b;
    font-size: 21px;
    font-weight: bold;
}
.slide_run2 .thubhover .caption.lager .watch-v {
    background: #fcc115 none repeat scroll 0 0;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
    color: #000;
    display: inline-block;
    font-size: 30px;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.slide_run2 .thubhover .caption.lager .list-trailer {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
}
.slide_run2 .thubhover .caption.lager .list-trailer li:first-child {
    border-right: 1px solid #fff;
}
.slide_run2 .thubhover .caption.lager .list-trailer li {
    float: left;
    padding: 2px 10px;
    text-align: center;
    width: 50%;
}
.slide_run2 .thubhover .caption.lager .list-trailer li a {
    color: #fff;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
}
.slide_run2  .caption.lager  table {
    margin-top: 20px;
    width: 100%;
}
.slide_run2 .thubhover .caption.lager  table td.first-td {
    font-size: 21px;
    text-align: left;49px
}
.slide_run2 .thubhover .caption.lager   table td.last-td {
    font-size: 28px;
    text-align: right;
}
.slider-thumb4 .thubhover .caption.lager{padding: 25px;}
.thubhover .caption.lager ul.list-rate{
	margin-top: 15px;
}
.hr-line {
    background: #919292 none repeat scroll 0 0;
    display: inline-block;
    height: 1px;
    margin-top: 42px;
    width: 100%;
    border: none;
    margin-bottom: 0;
}
.thum-sub-n{position: relative;margin-bottom: 28px;}
.slick-slide .thum-sub-n:last-child{margin-bottom: 0;}
.tilt-pk h5{
	color: #414042;
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
   
    text-transform: uppercase;
    width: 100%;
}
.tilt-pk h5 a{font-size: 12px;color: #414042;}
.tilt-pk span {
    display: inline-block;
    margin: 0 10px;
}
/* Footer 
=======================================================*/
.introduce h2{font-weight: bold; font-size: 24px; margin-top: 40px;}
footer{
	background: #000;
	padding: 50px 0;
	font-size: 13px;
	margin-top: 40px;
}
footer h4{
	font-size: 18px;
	text-transform: uppercase;
	color: #606162;
}
footer .foo-1{
	width: 28%;
	float: left;
}
footer .foo-1 p{color: #fff;}
footer .foo-1 ul{margin-top:20px;}
footer .foo-1 ul li{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.foo-2{width: 28%;float: left;}
.foo-2 ul li{
	float: left;
	width: 40%;
}
.foo-2 ul li a {
    background: rgba(0, 0, 0, 0) url("../img/li.jpg") no-repeat scroll 0 7px;
    color: #fff;
    display: block;
    padding-left: 13px;
    margin-bottom: 7px;
}
.foo-2 ul li a:hover{opacity: 0.78;}
.foo-3 {
    float: left;
    width: 23%;
}
.foo-3 p{
	color: #fff;
	margin-bottom: 3px;
}
.foo-3 p a{color:#0d7f80 }
.foo-4{
	width: 21%;
	float: left;
	color: #fff;
}
.foo-4 ul li{
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}
.col-copry{
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	color: #fff;
	opacity: 0.3;
}
/* Home Cinema*/
.home-cinema .col-sm-right{
	float: right;
	width: 44.7%;
	margin-right: -1px;
}
.home-cinema .banner-top .small .thumbnail{
	max-width: 152px;
	max-height: 214.5px ;
	overflow: hidden;
}
.home-cinema .tilt-pk h4{font-size: 18px;}
.home-cinema .col-sm-right{
	float: left;
	margin-left: -16px;
	margin-right: 0;
	overflow: hidden;
}
.home-cinema .col-sm-left{
	float: right;
	margin-right: 0px;
	width: 692px;
}
.home-cinema .thum-sub-n.small{padding-bottom: 9px;}
.home-cinema .multiple-items .slick-slide{
	padding: 0 14px;
}
.home-cinema-f ul.list-hc{margin-left: -8px;float: left;margin-bottom: 10px;}
.home-cinema-f .pull-right span{
	text-transform: uppercase;
	margin-right: 20px;
}
.home-cinema-f .pull-right select{
	border: 1px solid #aaabab;
	width: 150px;
	height: 30px;
	padding: 0 5px;
	vertical-align: calc();
}
.thumb-genenal li{
	float: left;
	margin-right: 30px;
}
#space {
    margin-left: -15px;
    width: 102.5%;
}
.large{
	width: 332px;
	height: 449px;
	margin:15px 14px 16px;
	overflow:hidden;
}
.large.right{
    float:right;
    
}
.large.left{
    float:left;
}
.small-img{
    width:152px;
    height:214.5px;
    float:left;
    margin:15px 14px;
}
.small-img img{max-width: 100%;display: block; max-height: 214.5px}
.listimage .small-img .thubhover .caption h4{margin-top: 0;}

.loadmore-f{
	text-align: center;
	font-size: 15px;
	color: #414042;
	text-transform: uppercase;
	width: 42.3%;
	margin: 0px auto 0;
	border: 1px solid #939598;
	background: #fff;
	padding: 10px;
	cursor: pointer;
}
.loadmore-f:hover{opacity: 0.78;}
.wp-loadmore{
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}
.listimage .thumbnail{width: auto !important; border: 1px solid #D8D9D9}
/*Home Movies on Demand*/
.col-list-f-mv {
    display: inline-block;
    margin-top: 20px;
}
.col-list-f-mv .ct-lkis{
	position: relative;
	width: auto;
	margin-top: 20px;
	width: 100%;
	 margin-left: 0px;
}
.home0demo .tilt-pk h4{font-size: 18px;}
.home0demo .tilt-pk ul {
    margin-left: 18px;
    margin-top: 3px;
}
.home0demo .tilt-pk ul li a{font-size: 12px; color: #555555}
.thumb-sub-movie {
    background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
    bottom: 0px;
    color: #fff;
    font-size: 18px;
    left: 0;
    padding: 15px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    line-height: 16px;
}
.ct-lkis img {
    border: 1px solid #929292;
}
/* cat chup */
.list-tile-gl li{
	float: left;
	padding-right: 10px;
	font-size: 18px;
	text-transform: uppercase;
}
.list-tile-gl li:first-child{
	border-right: 1px solid #414042;
	margin-right: 10px;
}
.list-tile-gl img {
    vertical-align: baseline;
}
.list-movie-cat{
	margin-top: 20px;
	width: 100%;
	display: inline-block;
}
.list-check-sort {
    margin-right: 5px;
}
.list-movie-cat .col-md-12 .pull-left{
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
}
.list-movie-cat .col-md-12 .pull-right ul li{
	float: left;
	font-size: 12px;
	cursor: pointer;
}
.list-movie-cat .col-md-12{display: inline-block;width: 100%;}
.list-movie-cat .col-md-12 .pull-right ul li:hover{opacity: 0.7;}
.list-movie-cat .col-md-12 .pull-right ul li:first-child{
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #555;
	color: #555;
}
.ct-catchup {
	width: auto;
}
.ct-catchup a img{
	border: 1px solid #909191;
	z-index: 1;
	display: block;
	 position: relative;
    z-index: -1;
}
.ct-catchup  a{
	display: block;
	z-index: 1;
	position: relative;
	padding: 0px;
		margin-bottom: 5px;
}
.ct-catchup a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.ct-catchup a:hover:after{
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(255,205,5,1);
-moz-box-shadow: inset 0px 0px 0px 5px rgba(255,205,5,1);
box-shadow: inset 0px 0px 0px 5px rgba(255,205,5,1);
}
.ct-catchup  a:hover img{border: none;}
.ct-catchup  a:hover {
	
z-index: 10;
display:block;
border: 1px solid #909191;
}
.ct-catchup .pull-left{
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	margin-left: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	width: 75%;
}
.ct-catchup .pull-left.left-logo{
	width: 20%;
}
.video-play-f{
	margin-top: 20px;
	padding-bottom: 50px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #919292;
	margin-bottom: 30px;
}
/* Search */
.infor-search{
	margin-bottom: 0;
	font-size: 15px;
	border-bottom: 1px solid #aaabab;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.infor-search span{
	font-size: 18px;
	font-weight: bold;
}
.search-detail .slider-thumb4 .slick-slide{height: auto;}
.search-detail  .col-list-f-mv{
	margin-top: 0;
}
.title-search{font-size: 18px; margin-bottom: 10px; text-transform: uppercase;}
.title-search.line2{margin-bottom: 30px; margin-top: 40px}
.title-search.line3{margin: 30px 0 10px;}
.search-detail .home-cinema-f .hr-line{margin-top: 30px}
.title-search span{font-size: 13px; text-transform: none;}
.title-search h4{margin-bottom: 0; line-height: 15px}

/* TV chanel*/
.tv-chanel-top .pull-left{
	width: 792px;
}
.tv-chanel-top .title-tt-tv{
	background: #333;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #fff;
	height: 42px;
}
.tv-chanel-top .title-tt-tv ul {
	margin-left: 20px;
	margin-top: 8px;
}
.tv-chanel-top .title-tt-tv ul li{
	float: left;
}
.tv-chanel-top .title-tt-tv ul li a{
	padding-right: 5px;
	display: block;
	color: #fff;
	font-size: 12px;
	border-right: 1px solid #fff;
	margin-right: 5px;
	line-height: 12px;
}
.tv-chanel-top .title-tt-tv ul li:last-child a{
	border-right: none;
}
.tv-chanel-top .title-tt-tv h4{float: left; font-size: 18px; font-weight: bold; margin: 0 20px 0 0;}
#carousel-list {
  position: relative;
  margin: 0 auto;
  width: 80%;
  float: left;
  padding: 11px 0 0;
  margin: 0 35px;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#slides ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
}

/* Styling for prev and next buttons */

.tv-chanel-top .pull-right{
	float: right;
	width: 435px;
}
.tv-chanel-top .pull-right .title-list-date-tv{
	float: left;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	background: #333;
	border-bottom: 1px solid #fff;
	padding-bottom: 1px;
	height: 42px;
}
.tv-chanel-top .pull-right .title-list-date-tv #buttons a{
	position: absolute;
	top: 12px;
	color: #fff;
	width: 11px;
	height: 16px;
	z-index: 20;
}
.tv-chanel-top .pull-right .title-list-date-tv #buttons a#prev{
	background: url(../img/tvchanel/icon-1.png) no-repeat;
	left: -20px;
}
.tv-chanel-top .pull-right .title-list-date-tv #buttons a#next{
	background: url(../img/tvchanel/icon-2.png) no-repeat;
	right: -20px;
}
.quoteContainer{padding: 0 18px;}
#slides li a{
	display: block;
	padding: 0 12px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	font-size: 13px;
}
.col-kl-list{
	width: 70%;
}
.tivcat > a {
    border-left: 1px solid #ddd;
    color: #fff;
    display: block;
    margin: 5px 0;
    padding: 6px 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.tv-chanel-top .title-tt-tv ul li a:hover{color: #FFCC05}
.tivcat{float: left;width: 27%;}
.tab-v1 .left-v1 {
    float: left;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    width: 20%;
}
.tab-v1 .left-v2{
	width: 80%;
	float: left;
}
.tab-v1 ul li{
	background: url(../img/tvchanel/icon-3.png) no-repeat 92% 12px;
	float: left;
	width: 100%;
	padding-right: 8%;
	padding-top: 5px;
	color: #fff;
	font-size: 13px;

}
.tab-v1 ul li:hover a,.tab-v1 ul li:hover a span{
	color: #ffcc05 !important;
}
.tab-v1 ul li:hover{
	background: url(../img/tvchanel/icon-4.png) no-repeat 92% 12px;
	-webkit-box-shadow: inset 10px 0px 0px 0px rgba(255,205,5,1);
-moz-box-shadow: inset 10px 0px 0px 0px rgba(255,205,5,1);
box-shadow: inset 10px 0px 0px 0px rgba(255,205,5,1);
	color: #ffcc05 !important;
	background-color: #333333;
}
.tab-v1 ul li.active{
	background: url(../img/tvchanel/icon-4.png) no-repeat 92% 12px;
	-webkit-box-shadow: inset 10px 0px 0px 0px rgba(255,205,5,1);
	-moz-box-shadow: inset 10px 0px 0px 0px rgba(255,205,5,1);
	box-shadow: inset 10px 0px 0px 0px rgba(255,205,5,1);
	color: #ffcc05 !important;
	background-color: #333333;
}
.tab-v1  ul li:hover .left-v1 span{color: #ffcc05 !important;}
.tab-v1  ul li.active .left-v1 span{color: #ffcc05 !important;}
.tab-v1 ul li.active a,.tab-v1 ul li.active a span{color: #ffcc05 !important;}
.tab-v1 ul li.time-view{
	background-image: url(../img/tvchanel/icon-5.png);
}
.tab-v1 ul li.active.time-view,.tab-v1 ul li.time-view:hover{
	background-image: url(../img/tvchanel/icon-6.png);
}

.tab-v1 ul li:nth-of-type(2n+2) {
    background-color: #333333;
}
.tab-v1 ul{padding: 0;}
.tab-v1 ul li a{color: #fff; text-transform: none;}
.tab-v1 ul li span{
	color: #d8d9d9;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 11px;
}
.tab-v1 ul li p{font-size: 13px;}
.tab-v1{
	background: #555;
	width: 100%;
	display: inline-block;
}
.scroll-pane
{
	width: 100% !important;
	height: 398px;
	overflow: auto;
}
.scroll-pane .jspContainer{width: 100% !important;}
.jspVerticalBar,.jspTrack{
	background: none;
}

.jspPane{width: 100% !important}
.jspDrag{
	width: 9px;
	background: #fff;
	border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
}
.lichphatsong{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	background: #000;
	padding: 11px 0 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	height: 47px;
}
.lichphatsong a{color: #fff;}
.cont-tab2-v1 {
    background: #d8d9d9 none repeat scroll 0 0;
    height: 378px;
    overflow: auto;
    padding: 15px 20px 20px;
}

.tab2-v1{
	background: #fff;
	padding: 10px;
	width: 100%;
}
.sknb .slick-slide{height: auto;}
.sknb .tilt-pk h4{font-size: 18px;}
.sknb .tilt-pk ul li a{font-size: 12px;}
.sknb .tilt-pk ul{margin-top: 4px; margin-left: 0;}
.sknb .slider-thub3 .thumb-sub{background: #000}
.view-vip-sknb{
	padding: 3px 0;
	width: auto;
	display: inline-block;
}
.view-vip-sknb .thumb-sub-view{
	background: #000;
	padding: 5px 10px;
	text-align: right;
	color: #fff;
}
.thumb-sub-view span{font-size: 13px;}
.thumb-sub-view a {
    display: inline-block;
    float: left;
    margin-top: 3px;
    text-align: left;
}
.mk-zip{
	display: inline-block;
	width: auto;
	border: 1px solid #939494;
}
.mk-zip .klj-img{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.4;
    display: inline-block;
    width: auto;
}
.wrp-div{
	position: relative;
}
.detail-ck{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 10;
}
.detail-ck li img{float: right; padding: 4px 0}
.detail-ck ul{margin-top: 30px;}
.detail-ck li {
    float: left;
    width: 50%;
    color: #414042;
    font-size: 13px;
}
.detail-ck a{color: #414042;}
.col-mk-p {margin-bottom: 20px;}
.detail-ck h3{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-top: 20px;
}
.slider-thub3 div.detail-ck p img {
    display: initial;
    margin-right: 5px;
}
.detail-ck li:first-child{
	text-align: right;
	border-right:1px solid #414042;
	padding-right: 10px;
}
.detail-ck li:last-child{text-align: left; padding-left: 10px;}
.col-mk-p{position: relative; float: left;}
.sknb .slider-thub3 .slick-prev,.sknb .slider-thub3 .slick-next {
    top: 40.4%;
}
.detail-ck p {
    font-size: 13px;

}
.slide-minute {
    background: #08c49e;
    bottom: -11px;
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.slide-minute span{display: block;background: #000; height: 3px; width:50%}
.chttt .slider-thub3{margin-left: 0;width: 1264px;}

.col-list-tin ul li{
	float: left;
	background: #fff;
	padding: 30px 20px 10px;
	margin-right: 30px ;
	margin-bottom: 20px;
	width: 150px;
	border: 1px solid #b4b5b5;
}
.col-list-tin ul li a{text-align: center;}
.col-list-tin ul li span {
    display: block;
    height: 45px;
    margin-top: 10px;
}
.all-rv .active a{font-weight: bold;color: #000}
.tilt-pk a:hover{color: #000}
.col-list-tin{margin-top: 30px; width: 103%;}
.col-list-tin p {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
}
.tivics4 {
    border-left: 1px solid #ccc;
    float: right;
    padding: 10px 25px 11px;
    position: absolute;
    right: 16px;
    top: 0;
}
.tivics4 a{color: #fff; font-size: 13px; }
.tivics4 a:hover{color: #FFCC05}
.bigsize.tv-chanel-top .title-tt-tv ul{
	float: left;
	margin-left: 0;
	position: relative;
}
/* FRee detail */
.video-detail{position: relative;}
.hover-json-play{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
.play-op{
	background: url(../img/detail/play.png) no-repeat center center;
	 color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    line-height: 720px;
    text-align: center;
    width: 100%;
    font-size: 36px;
}
.singup2 .modal-dialog{
	width: 780px;
	color: #000;
}
.singup2 .pp-content {
    background: #d8d9d9 none repeat scroll 0 0;
    color: #2b292c;
    display: inline-block;
    padding: 40px;
    width: 100%;
}
.singup2 .pp-content h3{
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
}
.singup2 .pp-content p{text-align: left; font-size: 15px;}
.listbtn{margin-top: 20px;}
.btn-p:hover{opacity: 0.785}
.btn-p{
	padding: 15px;
	text-align: center;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	margin-bottom: 15px;
}
.btn-connect{
	width: 60%;
	float: right;
	border: none;
	background: #0d7f80;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 30px;
	padding: 15px 0;
}
.btn-connect:hover{opacity: 0.785}
.btn-p.btn-one{background: #0d7f80;color: #fff;text-decoration: none;}
.btn-p.btn-two{background: #db6f17;color: #fff;text-decoration: none;}
.btn-p.btn-three{background: #165e8c;color: #fff;text-decoration: none;}
.pp-wrp  .dolate{
	color: #000;
    float: left;
    margin-top: 49px;
}
.price{
	width: 100%;
}
.price td{
	padding: 9px 8px;
	text-align: center;
	border: 1px solid #ccc;
}
.price td.first-td{
	font-size: 13px;
	text-align: left;
	border: none;
}
.price td.check{
	background: #0d7f80;
	color: #fff;
	font-size: 20px;
}
.price .fix-pri td{
	background: #4d4d4d;
	color: #fff;
	font-size: 18px;
}
.price .fix-pri td.first-td{
	background: none;
	font-size: 15px;color: #000;
}
.price th {
    background: #4d4d4d none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 30px;
    line-height: 20px;
    padding: 10px 8px 7px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(216,217,217,1);
-moz-box-shadow: inset 0px -5px 0px 0px rgba(216,217,217,1);
box-shadow: inset 0px -5px 0px 0px rgba(216,217,217,1);

}
.price th.moth{
	background: #F3B51B;
	color: #000;
}
.price th.moth span{
	color: #4d4d4d;
}

.price th span{
	font-size: 11px;
	color: #c3c5c5;
	display: block;
}
.price th.first-td{background: none;border: none;}
.price td.check.moth{
	background: #f3b51b;
	color: #000;
}
.price td.first-td span{font-size: 15px;}
.price td.first-td b{font-size: 15px; text-transform: uppercase;font-weight: 500}
#model-Standalone.singup2 .pp-content{
	padding: 40px 20px;
}
.radio-list td{background:#4d4d4d; text-align: center; padding: 12px}
.radio-list td.first-td{background: none}
.radio-list td .radio{display: inline;}
.price .featuiii td{padding: 0;}
.sp-du{
	font-size: 24px;
	color: #0d7f80;
}
#model-topup-money h2{font-size: 30px;}
.btn-connect.nt-op {
    float: none;
    margin: 20px 20% 0;
}
.detail-page{
	margin-top: 40px;
}
.detail-page .col-md-3{width: 22%;}
.detail-page .col-md-9{width: 78%;}
.title-detail{display: inline-block;width: 100%;    margin-top: 8px;}
.title-h2 b{
	font-size: 30px;
	text-transform: uppercase;
	line-height: 20px;
	vertical-align: sub;
}
.title-h2 .sp1{
	color: #fff;
	display: inline-block;
	background: #006cbf;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	padding: 0 5px;
	font-weight: 800;
	margin: 0 7px;
}
.title-h2 .sp2{
	color: #fff;
	display: inline-block;
	background: #f8102b;
	font-weight: 800;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	padding: 0 5px;
}
.title-h2 .star li{ float: left; margin: 10px 5px;}
.viweo {
    display: inline-block;
    margin: 11px;
    color: #414042;
}
.viweo img{margin-left: 5px;}
.title-h2 {
    float: left;
}
.title-detail .pull-right li{
	float: left;
}
.title-detail .pull-right li:last-child a{border: none;}
.title-detail .pull-right li a{
	color: #555;
	text-transform: uppercase;
	border-right: 1px solid #555;
	padding-right: 10px;
	margin-right: 10px;
}
.title-detail .pull-right li a:hover{color: #000;}
.title-detail .pull-right li img{margin-right: 5px;}
.title-detail .pull-right li.report-err a{color: #D30707}
.ct-detail-page .left-dt{
	float: left;
	width: 47%;
	margin-right: 6%;
}
.ct-detail-page .right-dt{
	float: left;
	width: 47%;
}
.ct-detail-page td.first-td{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.face{float: right;margin-top: 15px; margin-right: 5px;}
.ct-detail-page td a{color: #414042; text-decoration: underline;}
.ct-detail-page td a:hover{color: #000}
.ct-detail-page td{
	padding: 7px 8px;
	border-bottom: 1px dotted #828282;
	font-size: 15px;
	color: #414042;
}
.ct-detail-page tr:last-child td{border: none;}
.ct-detail-page{
	border-top: 2px solid #828282;
	margin-top: 25px;
	padding-top: 15px;
	display: inline-block;
	width: 100%;
}
.content-f-info{
	border-top: 2px solid #828282;
	border-bottom: 2px solid #828282;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}
.btn-connect12{
	width: 100%;
	background: #0d7f80;
	color: #fff;
	font-size: 20px;
	border: none;
	padding: 10px 0;
}
.btn-connect12:hover{background:#ffcc05 }
.free-detail .slick-slide{height: auto;}
.free-detail .tilt-pk h4{font-size: 18px;}
.ct-detail-page.lw2 td{
	border: none;
}
.ct-detail-page.lw2 td .priov{
	font-size: 30px;
}
.tab-content .scroll-pane{height: 377px;}
.tab-content .scroll-pane1{height: 377px; width:100%;overflow:auto}
.tab-content .scroll-pane2{height: 377px;width:100%;overflow:auto}
.ct-detail-page.lw2 td .perf-v{font-size: 18px; font-weight: bold;}
.content-f-info .content-list-tv{
	
}
.content-f-info .content-list-tv .time{
	float: right;
	padding: 10px 30px 10px 0;
}
.content-f-info .content-list-tv .left-v2{
	float: left;
	width: auto;
	padding: 10px 0;
	font-size: 15px;
	line-height: 12px;
}
.content-f-info .content-list-tv .left-v2 a{font-size: 15px;}
.slike-slep .slick-slide{height: auto;}
.nav.nav-tabs.slike-slep.slick-initialized.slick-slider {
    background: #333333 none repeat scroll 0 0;
    width: 100%;
    padding: 0 30px;
}
.slike-slep  a {
    display: block;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(204,204,204,1), inset -1px 0px 0px 0px rgba(204,204,204,1);;
-moz-box-shadow: inset 1px 0px 0px 0px rgba(204,204,204,1), inset -1px 0px 0px 0px rgba(204,204,204,1);;
box-shadow: inset 1px 0px 0px 0px rgba(204,204,204,1), inset -1px 0px 0px 0px rgba(204,204,204,1);
}
.slike-slep .slick-slide> a:hover{
	background: #101010;
}

.slike-slep .slick-slide.active a{background: #101010;}
.slike-slep .slick-prev{
	width: 11px;
	height: 16px;
	background: url(../img/detail/ic4.png) no-repeat;
	top: 13px;
	left: 10px;
}
.slike-slep{
	background: #333333 none repeat scroll 0 0;
    width: 100%;
    padding: 0 30px;
}
.slike-slep .slick-next{
	width: 11px;
	height: 16px;
	background: url(../img/detail/ic5.png) no-repeat;
	top: 13px;
	right: 10px;
}
.line-kl{
	position: absolute;
	right: 0;
	height: 30px;
	width: 1px;
	background: #fff;
	top: 0;
}
.grid {
  
  margin-top:30px;
  width: 1290px;
  margin-left:-15px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  max-width: 150px;
  margin:12px 14px 12px 16px;
  
}
.grid-item.large-four{max-width:330px; margin-right:0; max-height:449px;overflow:hidden}
.grid-item.large-four .thubhover  .caption{padding: 25px;}
.grid-item.large-four  .thubhover .caption ul.list-rate li.right-u .hd,.grid-item.large-four  .thubhover .caption ul.list-rate li.right-u .tm{font-size:21px}
.grid-item.large-four  .thubhover table td.first-td {
    text-align: left;
    font-size: 21px;
}
.grid-item.large-four .thubhover .caption.lager ul.list-rate ,.grid-item.large-four  .list-trailer{
    margin-top: 15px;
}
.grid-item.large-four  .list-trailer li a{font-size:21px;}
.grid-item.large-four .thubhover table {
    width: 100%;
    margin-top: 20px;
}
.grid-item.large-four .watch-v{font-size:30px;margin-top:30px;    padding: 10px 0;}
.grid-item.large-four  .thubhover table td.last-td {
    text-align: right;
    font-size: 28px;
}
.grid-item.large-four  .thubhover table td{line-height:40px;}
.grid-item.large-four   .thubhover .caption h4 {
    text-transform: uppercase;
    font-size: 26px;
}
.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
.grid-item .thum-sub-n{margin-bottom:0;}
.grid-item  .thubhover .caption{padding: 10px;}
.grid-item  .thubhover .caption h4{
	font-size: 15px;
    margin: 0px 0;
	font-size:12px;
}
.grid-item .thubhover .caption ul.list-rate li.right-u .hd{font-size:12px;}
.grid-item .thubhover .caption ul.list-rate li.right-u .tm{font-size:12px;}
.grid-item   .watch-v {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 0;
}
.grid-item  .list-trailer li a {
    font-size: 10px;
}
.grid-item  .thubhover table td.first-td {
    text-align: left;
    font-size: 10px;
}
.grid-item  .thubhover table td{line-height:15px;}
.grid-item  .list-trailer{margin-top:7px;}
.grid-item  .thubhover table {
    width: 100%;
    margin-top: 0px;
}

.grid-item  .thubhover table td.last-td {
    text-align: right;
    font-size: 14px;
}
.grid-item  .list-trailer li a{}
.grid-item .thubhover .caption{
	background: rgba(0, 0, 0, 0.85);
	height: auto;
	min-height:100%;
}
/* TV Guide====================*/
.title_vio{
	font-size:18px;
	color:#414042;
	font-weight:bold;
	border-bottom:1px solid #aaabab;
	padding-bottom:20px;
}
.list-views-po{margin-top:10px;}
.list-views-po ul li{
	float:left;
	padding-bottom:5px ;
	padding-top:5px ;
}
.list-views-po ul li a{
	display:block;
	padding-right:13px;
	margin-right:13px;
	text-transform:uppercase;
	border-right:2px solid #414042;
	color:#414042;
	line-height: 14px;
}
.list-views-po .pull-right{
	border:1px solid #aaabab;
	background:#fff;
	padding:5px 20px;
	text-transform:uppercase;
	font-size:12px;
}
.list-views-po ul li a:hover{opacity:0.875;}
.tab-list-guide{width:100%; display:inline-block; background:#fff; margin-top:10px; overflow:auto}
.list-guider{width:1230px;}
.tab-list-guide .nav-tabs li a span{display:block;font-weight:normal; font-size:12px;}
.tab-list-guide .nav-tabs li a{
	text-align:center;
	color:#414042;
	font-weight:bold;
	padding: 10px 20px;
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
}
.tab-list-guide .nav-tabs > li.active > a, .tab-list-guide .nav-tabs > li.active > a:hover, .tab-list-guide .nav-tabs > li > a:hover, .tab-list-guide .nav-tabs > li.active > a:focus {
    color: #ffcc05;
    cursor: default;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    border-bottom-color: transparent;
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
}
.list-hour{
	width:100%;
	background-color: #4d4d4d;
	display:inline-block;
}
.list-hour ul li{
	float:left;
	padding: 10px;
	width:4%;
	text-align:center;
	color:#fff;
	font-size:12px;
}
.list-hour ul li.selected,.list-hour ul li:hover{
	border-bottom:5px solid #ffcc05;
	color:#ffcc05;
	cursor:pointer;
}
.calender-ctk{overflow:auto;}
.img-pol{width:150px; text-align:center;}
.calender-ctk ul{
	width:100%;
	border-collapse:collapse; 
	display:table;
	 table-layout:fixed; 
	 position:relative;
}
.calender-ctk ul li{
	padding:23px 20px;
	border-left:1px solid #aaabab;
	border-top:1px solid #aaabab;  
	height:88px; 
	display: table-cell;
	vertical-align:middle;
	line-height: 18px;
	position:relative;
	
}
.calender-ctk ul li div{overflow:hidden;-webkit-transition: min-width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s; width:100%;}
.calender-ctk ul li div:hover{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:auto;
	-webkit-box-shadow: inset 5px 0px 0px 0px rgba(255,205,5,1);
-moz-box-shadow: inset 5px 0px 0px 0px rgba(255,205,5,1);
box-shadow: inset 5px 0px 0px 0px rgba(255,205,5,1);
background:#fffae8;
	padding:25px 20px 24px 20px;;
	z-index:10;
	cursor:pointer;
	min-width:100%;
}
.calender-ctk ul li .title-gu{display:block;font-size:18px;color:#414042;font-weight:500; white-space:pre}
.calender-ctk ul li:hover{
-webkit-box-shadow: inset 5px 0px 0px 0px rgba(255,205,5,1);
-moz-box-shadow: inset 5px 0px 0px 0px rgba(255,205,5,1);
box-shadow: inset 5px 0px 0px 0px rgba(255,205,5,1);
background:#fffae8;
}
.calender-ctk ul li span{
	 font-size:12px;
	display: block;  
    vertical-align: middle;
}
.calender-ctk ul li a{display:block;}
.calender-ctk ul li a{display:block;color:#414042; font-size:18px;
	font-weight:bold;}
.time-line-li {height:52px; position:relative;}	
.time-line-li span{
	display:block;
	position:absolute;
}
.time-start,.time-end{
	font-size:16px;
	background:#ffcc05;
	padding:10px 10px;
	bottom:-1px; 
	z-index:100;
}
.time-fix{
	bottom:5px;
}
.arrow_box {
	position: relative;
	background: #ffcc05;
	width:60px;
	text-align:center;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 204, 5, 0);
	border-top-color: #ffcc05;
	border-width: 10px;
	margin-left: -10px;
}
.header-giu  li{
	float:left;
	line-height:17px;
}
.header-giu  li h4{margin:0; font-size:24px; text-transform:uppercase}
.header-giu  li  span{font-size:12px;}
.header-giu  li:first-child{margin-right:80px;}
.header-giu  li img{max-width:97px;}

.content-giu li{
	float:left;
	line-height:20px;
	width:52%;
}
.content-giu li:first-child{width:48%;}
.content-giu  li img{max-width:280px;}
.gui-popup .modal-body{display:inline-block; padding:20px 0 0;width:100%;}
.gui-popup .modal-header {display:inline-block; padding:0px 0 27px;width:100%; border-bottom:1px solid #4d4d4d}
.modal-dialog.gui-popup{
width:780px;
}
.gui-popup .modal-content{
	padding:20px;
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
}
.ct-guikd{background:#d8d9d9;padding:30px 45px;}
.ct-guikd ul{margin:0;padding:0;}

/* TV Guide====================*/
