body{
	/*background: url("../img/bg.png");*/
    background-size: cover;
	/*background-size: auto !important;
	background-repeat:repeat;*/
}
.main-wrap{margin-top:30px;}
.main-wrap.detail-wrap{
	margin-top:30px;
	 transition:height 2s;
    -moz-transition:height 2s; /* Firefox 4 */
    -webkit-transition:height 2s; /* Safari and Chrome */
    -o-transition:height 2s; /* Opera */
}
.multiple-items .slick-list{padding-bottom:6px;}
.tv-chanel-top .title-tt-tv,.tab-v1{display:inherit;}
.Banner-top.slick-initialized.slick-slider{
	border:1px solid #252321;
	border-bottom:none;
}
.Banner-top .slick-list{overflow:hidden}
.Banner-top .slick-dots {
    visibility: hidden !important;
    /*display: none !important;*/
    position: absolute;
    left: 0;
    bottom: 0;
	width:100%;
	text-align:center;
}
.Banner-top .slick-dots li{
	 display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        background:none;
        color:white;
        margin-right:10px;
}
.Banner-top .slick-dots li button{
	text-indent:-9999px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	background:none;
	border:1px solid #fff;
	width:12px;
	height:12px;
	padding:0;
	position:relative;
	
}
.Banner-top .slick-dots li.slick-active button:after,.Banner-top .slick-dots li button:hover:after{
	background:#ffcc05;
	content:"";
	width: 8px;
    height: 8px;
    left: 1px;
    top: 1px;
	position:absolute;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
}
.banner-top .multiple-items .thumbnail{
	border:none;
}
.scroll-pane{height:356px;}
.thubhover .caption h4{
	font-size:24px;
	text-transform:none;
	color:#ffcc05;
	margin-top: 0;
}	
.sli .thumbnail .caption h4,.top-slide .thumbnail .caption h4{
	font-size:14px;
}

 img.img-fx{
	width: auto !important;
    vertical-align: baseline;
    float: left;
    margin-top: 4px;
    margin-right: 3px;
}
.slide_run2.slider-thumb4 .lager-fix .thumbnail img.img-fx{
	min-width:auto;
	margin-top: 7px;

}
.slide_run2.slider-thumb4 .slick-arrow {
    top: 43.6%;
}
 .small img.img-fx,.sli img.img-fx ,.top-slide  img.img-fx{
	width: 12px !important;
    margin-top: 0px;
 }
 .slider-thumb4 .list-trailer{margin-top:7px;}
 .small .thubhover table td.first-td,.sli .thubhover table td.first-td,.top-slide .thubhover table td.first-td{
	font-size:12px;
	line-height:10px;
	line-height: 12px;
	padding:0;
 }
 .slider-thumb4 .thubhover .caption ul.list-rate{margin-top:2px;}
 .slider-tv{
	border-bottom: 1px solid #424242;
	border-top: 1px solid #424242;
	padding:14px 20px 10px;
 }
.thubhover table td.first-td{font-size:18px; color:#a4a4a4;}
.thubhover table td.last-td {
    text-align: right;
    font-size: 24px;
}
.nb-point{
	font-size:22px;
	color:#a4a4a4;
	margin-right:1px;
	margin-left:5px;
    line-height: 20px;

}
.small .nb-point,.sli .nb-point,.top-slide .nb-point{font-size:12px; line-height:10px;}
.nb-v-wallnet{
	background:#556d79;
	padding:3px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	font-size:12px;
	margin-left:5px;
	color:#000;
}
.small .nb-v-wallnet,.small .nb-bonus-v,.sli .nb-v-wallnet,.sli .nb-bonus-v,.top-slide .nb-v-wallnet,.top-slide .nb-bonus-v{font-size:10px;margin-left:0;}
.small .nb-bonus-v,.sli .nb-bonus-v,.top-slide  .nb-bonus-v{margin-top:3px;    display: inline-block;}
.small .list-rate li:first-child,.sli .list-rate li:first-child,.top-slide .list-rate li:first-child{margin-right:0;}
.small .list-rate li img{
    width: 10px;
    margin-top: 2px;
    margin-right: 0;
}
.sli .list-rate li img {
    width: 10px;
    margin-top: 6px;
    margin-right: 0;
	float:left;
}
.top-slide .list-rate li img {
    width: 10px;
    margin-top: 3px;
    margin-right: 0;
	float:left;
}
.nb-bonus-v{
	background:#516f53;
	padding:3px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	font-size:12px;
	margin-left:5px;
	color:#000;
}
.watch-v,.slide_run2 .thubhover .caption.lager .watch-v{
	background:rgba(105,105,105,0.78);
	color:#fff;
	border:1px solid #111112;
	font-size:24px;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(152,152,152,1),inset -1px -1px 0px 0px rgba(152,152,152,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(152,152,152,1),inset -1px -1px 0px 0px rgba(152,152,152,1);
	box-shadow: inset 1px 1px 0px 0px rgba(152,152,152,1),inset -1px -1px 0px 0px rgba(152,152,152,1);
	text-transform:none;
	line-height:25px;
	margin-top: 85px;
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.slide_run2 .thubhover .caption.lager .watch-v:hover{background:#ffcc05; color:#000;
	border:1px solid #ffcc05;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.hr-line{background:#302f2b;}
.slide_run2 .thubhover .caption.lager .list-trailer li a:hover{ color:#ffcc05}
.small .watch-v,.top-slide .watch-v{
	line-height:18px;
	margin-top:10px;
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.sli .watch-v{
	line-height:18px;
	margin-top:14px;
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.list-trailer li a{font-size:18px; text-transform:none;}
.list-trailer li a:hover{color:#ffcc05;}
.watch-v:hover{
	background:#ffcc05;
	color:#000;
	border:1px solid #ffcc05;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.tilt-pk h4{
	color:#fff;
	text-transform:none;
	font-size:24px;
}
.tilt-pk h4 a{color:#fff; font-size:24px;}
.tilt-pk h4 a:hover{color:#ffcc05;}
.tilt-pk{margin-top:28px;}
.tilt-pk ul li a{color:#fff;}
.tilt-pk ul li a:hover{color:#ffcc05;}
.thumbnail{border:1px solid #2d2c2a}
.hr-line{margin-top:25px; margin-bottom:-3px;}
.slide_run2.slider-thumb4 .slick-slide{
	padding-top:0;
}
.free-detail .tilt-pk h4 {
    font-size: 24px;
}
.tilt-pk h5{color:#fff;}
.main-top .fix-container {
    padding-bottom: 0;
}
.line-j .hr-line{margin-top:10px}
.introduce {color:#fff; }
footer{margin-top:40px;}
.introduce h2 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
}
.introduce p{margin-bottom:0;}
.giohang{
	float:right;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	background:#ffcc05;
	padding:5px 10px;
	color: #000;
	margin-bottom:0px;
	cursor:pointer;
	position: absolute;
    bottom: 15px;
    left: 15px;
}
footer{position:relative;}
.giohang:hover{color:#000; opacity:0.8;}
.small .thubhover .caption h4,.sli .thubhover .caption h4,.top-slide .thubhover .caption h4{margin-bottom:2px; text-transform:none}
.small .thubhover .caption ,.sli .thubhover .caption ,.top-slide .thubhover .caption {
    padding: 10px;
}
.tilt-pk ul li{color:#fff;}
.video-pl {
    text-align:center;
    cursor: pointer;
	position:relative;
}
.video-pl img{display:inline;}
.dt-play{
	position:absolute;
	background: url('../img/icon-play.png') no-repeat center center;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
}
.vd-list-detail .col-md-left{
	float:left;
	width:26.19%;
	margin-right:2.38%;
}
.ul-favorite ul li{
	padding:5px 0 0;
	font-size:18px;
	color:#fff;
}
.ul-favorite{margin-top:20px;}
.ul-favorite ul li span{
	display:block;
	width:100%;
	padding:0;
	background:rgba(121,121,121,0.25);
	text-align:center;
	font-weight:400;
	padding:5px;
	border:1px solid #282420;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: inset -1px -1px 0px 0px rgba(255,255,255,0.2), inset 1px 1px 0px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset -1px -1px 0px 0px rgba(255,255,255,0.2), inset 1px 1px 0px 0px rgba(255,255,255,0.2);
	box-shadow: inset -1px -1px 0px 0px rgba(255,255,255,0.2), inset 1px 1px 0px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}
.ul-favorite ul li span:hover{
	background:#ffcc05;
	color:#000;
}
.vd-list-detail .col-md-right{
	float:left;
	width:71.29%;
}
.vd-list-detail .col-md-right .title-h2{
	width:100%;
	display:inline-block;
}
.vd-list-detail .col-md-right .title-h2 b{font-size:30px;color:#ffcc05;line-height: 30px; text-transform:none}
.list-dt-fac {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
    border-bottom: 1px solid #424242;
	margin-bottom:10px;
}
.list-dt-fac li{
	padding:0 10px;
	float:left;
	color:#bbb;
	font-size:12px;
	position:relative;
}
.list-dt-fac li .i-line {
    background: #424242;
    height: 10px;
    width: 1px;
    float: right;
    position: absolute;
    right: 0;
    top: 8px;
}
.list-dt-fac li:first-child{padding-left:0;}
.list-dt-fac li:last-child{border:none;}
.list-dt-fac li .dt-00{
	font-size:14px;
}
.list-dt-fac li .dt-00 span {
    float: left;
    margin-right: 0px;
    margin-top: 0px;
    color: #fff;
	opacity:0.7;
}
.list-dt-fac li .dt-01{
	background:rgba(70,70,70,0.7);
	border:1px solid #5a5856;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding:3px 10px;
}
.list-dt-fac li span{display:inline-block;}
.list-dt-fac li .dt-01 img{
	width:14px;
	height:13px;
	margin-right:3px;
	vertical-align: top;
    margin-top: 2px;
}
.list-dt-fac li .dt-02{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	background: #bfbebd;
	background: -moz-linear-gradient(top, #bfbebd 0%, #adadac 47%, #959593 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfbebd), color-stop(47%, #adadac), color-stop(100%, #959593));
	background: -webkit-linear-gradient(top, #bfbebd 0%, #adadac 47%, #959593 100%);
	background: -o-linear-gradient(top, #bfbebd 0%, #adadac 47%, #959593 100%);
	background: -ms-linear-gradient(top, #bfbebd 0%, #adadac 47%, #959593 100%);
	background: linear-gradient(to bottom, #bfbebd 0%, #adadac 47%, #959593 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbebd', endColorstr='#959593', GradientType=0 );
	padding:2px 5px;
	color:#000;
	height:25px;
	line-height: 21px;
}
.list-dt-fac li .dt-03{margin-top: 3px;}
.list-dt-fac li .dt-06{margin-top: 5px;}
.list-dt-fac li .dt-04,.list-dt-fac li .dt-05{line-height: 25px;}
.list-dt-fac li .dt-07{
	background:#556d79;
	color:#000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding:3px 10px;
}
.list-dt-fac li .dt-08{
	background:#516f53;
	color:#000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding:3px 10px;
}
.discount{
	color:#a9d892;
	margin-bottom: 5px;
}
.synosys{
	font-size:12px;
	color:#646464;
	margin-top:15px;
	text-transform:uppercase;
}
.goi-vod h3{color:#ffcc05; font-size:24px;}
.gence{color:#ababab; padding-bottom:15px;border-bottom:1px solid #424242}
.gence li{padding-bottom:8px}
.gen-l{margin-right:10px; width:55px;display:inline-block}
.tag-bt{
	color:#fff;
	background:rgba(70,70,70,0.7);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding:2px 5px;
	margin-right:5px;
}
.gence .i-line{
	background: #aaabab;
	opacity:0.2;
    height: 10px;
    width: 1px;
    margin: 0 10px;
    display: inline-block;
}
.star0v{margin-right:5px;}
.ct-vd-des-v{color:#fff;line-height: 19px;}
.goi-vod .ct-vd-des-v{margin-top:15px;}
.fx-price li{
	float:left;
	color:#c8c8c8;
}
.fx-price{width:100%; display:inline-block;}
.fx-price li span.sp0m{color:#ffcc05;}
.fx-price li span{font-size:25px; margin-left:10px; line-height:20px;}
.fx-price img{vertical-align:inherit;margin-right:5px;}
.fx-price li .i-line{
	background: #aaabab;
	opacity:0.2;
    height: 10px;
    width: 1px;
    margin: 0 10px;
    display: inline-block;
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #5a5856;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    width:150px;
	
    background: rgba(70,70,70,0.7) url("../img/arrow.png") no-repeat 90% 50%;
	color:#fff;
}

.select-style select {
    padding: 2px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
	background-color:rgba(70,70,70,0.7);
	outline:none;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
	
}

.select-style select:focus {
    outline: none;
}

.dropdownfix-op .btn-primary{
	background: rgba(70,70,70,0.7);
    border: 1px solid #5a5856;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 3px 10px;
	line-height: 17px;
}
.dropdownfix-op .dropdown-menu{
	background: rgba(70,70,70,1);
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.dropdownfix-op .dropdown-menu a{color:#fff; width:100%;display:inline-block; 
	padding:5px 10px;
	border-bottom:1px dotted #fcfcfc;
}
.dropdownfix-op .dropdown-menu li{padding:0 5px; width:100%;}
.list-dt-fac li .dt-00 span.caret{
	color:#ffcc05;
	border-width:5px;
	float:right;
	margin-top:8px;
	margin-right:0;
}
.dropdownfix-op .btn-primary:active, .dropdownfix-op .btn-primary.active, .dropdownfix-op .open > .dropdown-toggle.btn-primary{
	border: 1px solid #5a5856;
}
.dropdownfix-op .btn-primary:active:hover, .dropdownfix-op .btn-primary.active:hover, .dropdownfix-op .open > .dropdown-toggle.btn-primary:hover, .dropdownfix-op .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .dropdownfix-op .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
	background: rgba(70,70,70,0.7);
	/*border: 1px solid #5a5856;*/
	outline:none;
}
.modal-dialog{
	width:400px;
	background:none;
}
.pp-wrp{
	padding:0px;
	border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
	background:#3e3e3e;
}
.pp-content{
	background:#3e3e3e;
	-webkit-box-shadow: inset 0px 118px 40px -77px rgba(50,50,50,1);
-moz-box-shadow: inset 0px 118px 40px -77px rgba(50,50,50,1);
box-shadow: inset 0px 118px 40px -77px rgba(50,50,50,1);
	border-radius: 0px 0px 7px 7px;
-moz-border-radius: 0px 0px 7px 7px;
-webkit-border-radius: 0px 0px 7px 7px;
padding:25px 30px;
}
.top-pp{
	width: 100%;
    display: inline-block;
	border-bottom:1px solid #323232;
	background:#3e3e3e;

border-radius: 7px 7px 0px 0px;
-moz-border-radius: 7px 7px 0px 0px;
-webkit-border-radius: 7px 7px 0px 0px;
}
.top-pp h4{
	font-size:18px;
	color:#fff;
	text-align:center;
	padding:18px 0 15px;
	margin:0;
	font-weight:bold;
}
.pt-login-tt{color:#c59c70}
.pp-wrp .form-group {
    padding-bottom: 20px;
    margin: 0;
}
.pp-wrp .form-group input{
	height:38px;border:1px solid #616060; background:#444444; text-align:center;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	color:#fff;
}
.line-pp {
    background: #303030;
    width: 100%;
    display: inline-block;
    height: 1px;
    margin: 0 0 20px;
    border: none;
}
.pp-wrp .btn{
	background:#565656;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
border:1px solid #2b2b2b;
border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	font-size:16px;
	text-transform:none;
	height:38px;
	opacity:0.5;
}
.pp-wrp .btn:hover{
	border:none;
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(112,112,112,1);
-moz-box-shadow: inset 0px 0px 0px 0px rgba(112,112,112,1);
box-shadow: inset 0px 0px 0px 0px rgba(112,112,112,1);

}
.squaredThree label span {
    display: block;
    margin-left: 35px;
    width: 141px;
    margin-top: 3px;
    color: #fff;
}
.squaredThree {
    display: inherit;
    margin: 20px auto 36px;
    position: relative;
    width: 200px;
}
.squaredThree label{
	background:#454545;
	border:1px solid #706f6f;
	width:20px;
	height:20px;
}
.list-li-pp {
    width: 258px;
    margin: 0 auto;
    padding: 28px 0 10px;
}
.list-li-pp li{
	float:left;
}
.list-li-pp li a{
	color:#fff;
	font-size:13px;
	padding:0 10px;
	text-decoration:none;
}
.list-li-pp li:first-child a{
	border-right:1px solid #fff;
}
.list-li-pp li a:hover{color:#ffcc05;}
.squaredThree label:after{width:12px; height:7px;}
.capcha{width:100%; display:inline-block;margin-bottom: 20px;}
#trailer .pp-content{
	padding:0;
}
#trailer  .top-pp{padding-left:20px; position:relative;}
#trailer  .top-pp h4{text-align:left;}
.close-tr {
    position: absolute;
    right: 15px;
    top: 15px;
}
#trailer  .modal-dialog{
	width:480px;
}
.Register-verify-code .pp-content p{text-align:center; color:#fff;opacity:0.7;}
.Register-verify-code .pp-content ul li{
	width:50%;
	float:left;
}
.Register-verify-code .pp-content ul li .btn{opacity:1;font-size:16px;}
.Register-verify-code .pp-content ul li:first-child{padding-right:10px;}
.Register-verify-code .pp-content ul li:last-child{padding-left:10px;}
.Register-verify-code .pp-content ul li:first-child .btn{
	background:#383838;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.Register-verify-code .pp-content ul li:first-child .btn:hover{background:#ffcc05;}
.Register-verify-code .pp-content ul {
display: inline-block;
    width: 100%;}
.pp-content  form{margin-bottom:0;}

#create-new-acount .pp-content{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
}
#create-new-acount .pp-content p{text-align:center; color:#fff;opacity:0.7; margin-bottom:25px;}
#create-new-acount .pp-content h5 {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 15px;
	opacity:0.7;
}
#create-new-acount .pp-content ul li{
	width:50%;
	float:left;
}
#create-new-acount .pp-content ul li:first-child{padding-right:10px;}
#create-new-acount .pp-content ul li:last-child{padding-left:10px;}
#create-new-acount .pp-content ul li:first-child .btn{
	background:#383838;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
font-size:16px;

}
#create-new-acount .pp-content ul li{opacity:0.5;}
#create-new-acount .pp-content ul li:first-child .btn:hover{background:#ffcc05;}
#create-new-acount .pp-content ul {
display: inline-block;
    width: 100%;}
#find-password p.re-enter-f{
	text-align:center;
	opacity:0.5;
	color:#fff;
	margin-bottom: 20px;
}
#find-password p.pt-login-tt{text-align:center;margin-bottom:15px;}
.purchase-confirm h5{
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
	color:#fff;
	opacity:0.7;
}
.re-vf span{color:#ffcc05; font-size:18px;font-weight:500;margin-left:5px;margin-bottom:5px;}
.hotlk {
	font-size:13px;
	margin-top:15px;
	margin-bottom:0;
	opacity:0.7;
}
.purchase-confirm .pp-content ul li:first-child .btn{
	background:#565656;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
font-size:16px;

}
.purchase-confirm .pp-content ul li:last-child .btn{
	background:#383838;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
font-size:16px;
}
.purchase-confirm  .pp-content ul li:first-child .btn:hover{background:#ffcc05;}
.purchase-confirm  .pp-content ul li:last-child .btn:hover{background:#ffcc05;}
#purchase-complete .pp-wrp{
	
font-size:16px;
border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
}
#purchase-complete .pp-content {padding:60px 20px;
border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
#purchase-complete .pp-content h5{font-size:24px; font-weight:bold; text-align:center; margin-bottom:0; color:#fff;}
.modal{background:none}
#trailer.modal{background:rgba(0,0,0,0.5);}
.close-full{
	background:url(../img/close.png) no-repeat ;
	width:16px;
	height:16px;
	position:absolute;
	right:15px;
	top:15px;
	display:block;
	cursor:pointer;
}
#purchase .text-mon{
	text-transform:uppercase;
	color:#ffcc05;
	opacity:0.55;
}
#purchase h5 span{font-size:14px;margin-right:10px;font-weight:normal;}
#purchase h5{margin-bottom:5px;}
.catch-up-service .sub-pri{
	background:#4c4c4c;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	border:1px solid #383838;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding:10px 10px;
	color:#fff;
	opacity:0.7;
	margin-top:5px;
	border:1px solid #353535;
}
.Register-verify-code .pp-content p.hotlk{opacity:0.25;}
.catch-up-service .sub-pri .so-r{
	float:right;
}
.catch-up-service .sub-pri .so-r span {
    font-size: 18px;
    line-height: 20px;
    margin-right: 5px;
	font-weight: bold;
}
.catch-up-service .pp-content  .note-sub{opacity:0.25;}
.catch-up-service .pp-wrp .btn{
	background:#383838;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.catch-up-service .pp-wrp .btn:hover{background:#ffcc05;}
.catch-up-service .pp-content  .hotlk{opacity:0.25;}
.enter-one-time-password span{color:#ffcc05;text-transform:uppercase;}
.enter-one-time-password span.sp1s{color:#ffcc05;font-size:18px; margin-left:10px; margin-right:5px;}
.enter-one-time-password  .pp-content .hotlk{opacity:0.25}
.enter-one-time-password  .pp-content ul li .btn{opacity:0.5;}
.enter-one-time-password  .pp-content  p{opacity:0.7;}
.charge-v-wallet .sub-pri{opacity:0.7; color:#fff; width:100%; display:inline-block}
.charge-v-wallet .sub-pri .so-r{float:right;}
.charge-v-wallet .sub-pri .so-r span{color:#ffcc05;font-size:18px;     margin-right: 5px;}
.charge-v-wallet .pp-content p.enough-m{color:#c59c70; margin:30px 0 25px;}
.charge-v-wallet .btn{
	position:relative;
	width:100%;
	display:inline-block;
	height: auto;
	text-align:left;
}
.charge-v-wallet .btn:hover{
	background:#585858;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	border:1px solid #383838;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.charge-v-wallet .btn .sp-bn{
	background:url(../img/ic-bnus.png) no-repeat;
	width:50px;
	height:50px;
	position:absolute;
	left:0;
	top:0;
}
.sp-bn-left {
    width: 45px;
    float: left;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
.sp-bn-right {
    width: 71%;
    float: left;
    text-align: left;
}
.changer-phone .sp-bn-right h5{color:#aad3ff; font-size:18px; margin-bottom:5px}
.pp-content .changer-phone .sp-bn-right p{color:#aad3ff; text-align:left; line-height:20px;    font-size: 14px;}
.changer-card .sp-bn-right h5{color:#e1b99f; font-size:18px; margin-bottom:5px}
.pp-content .changer-card .sp-bn-right p{color:#e1b99f; text-align:left; line-height:20px;    font-size: 14px;}
.changer-card .sp-bn-left {margin-top:30px;}
.changer-card {margin-top:20px;}
.catch-up-service.package-period .sub-pri{margin-bottom:20px;}
.radio-check label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
.radio-check  input[type=radio] {
    display: none;
}
.radio-check  label:before{
	content: "";
	display: inline-block;
	 width: 16px;
}
.radio-check  label:before {
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio-check label:before {
    border-radius: 8px;
}
.radio-check  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
.sub-pri input {
    margin-top: 4px;
    margin-right: 5px;
    float: left;
}
.package-period .squaredThree label span{width:190px;margin-top:1px; opacity:0.7}
.package-period .pp-content  p.note-f{
	color:#c59c70;
	margin-top:20px;
	display: inline-block;
}
.package-options.catch-up-service .sub-pri{margin-bottom:20px;}
.pop .text-mon{
	color:#ffcc05;
	text-transform:uppercase;
}
.pop .flexi{display:block; font-size:13px;color:#f6c387}
.pop .sub-pri-pop {color:#fff;width:100%; display:inline-block;}
.pop .sub-pri-pop .so-l{float:left;}
.pop .sub-pri-pop .so-r{float:right;}
.pop .sub-pri-pop .so-r span{
	color:#ffcc05;
	font-size:17px;
	margin-right:20px;
	line-height:15px;
	font-weight:bold;
}
.pop  .line-pp{margin-top:18px;}
/*#Episode ul li a{
	color:#fff;
	text-decoration:none;	
	    opacity: 0.7;
}
#Episode ul li {
    background: url(../img/tvchanel/icon-3.png) no-repeat 100% 4px;
	padding-left:0px;
	float: left;
	width: 100%;
	padding-right: 8%;
	padding-top: 7px;
	color: #fff;
	font-size: 13px;
	padding-bottom: 10px;
	height:auto;
}*/
/*#Episode ul li:last-child{padding-bottom:0;}
#Episode ul li:hover{
	background:url(../img/tvchanel/icon-4.png) no-repeat 100% 4px;
	color:#ffcc05;	
}
#Episode ul li:hover a{color:#ffcc05;}
#Episode ul li:hover span{
	color:#ffcc05;	
}
#Episode ul li a:hover{color:#ffcc05;}
.Episode-content{
	width:100%;
	display: inline-block;
}

#Episode .left-v2 {
	width: 75%;
	float: left;
	margin-left: 10px;
}*/

/* popup screen 
===================================================
*/
/* search update
===================================================
*/
.caption-search{
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 5px;
	width: 100%;
	z-index:25;
	background: rgba(0,0,0,0.87);
}
.ct-catchup img{max-width: 280px; max-height: 158px;}
.ct-catchup a img{
	border:none;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75),-1px -1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75),-1px -1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75),-1px -1px 2px 0px rgba(0,0,0,0.75);
}
.ct-catchup a:hover{border:none;}
.ct-catchup .pull-left{color: #fff;}
.ct-catchup {
    width: auto;
    position: relative;
}
.ct-catchup .pull-left {
    color: #fff;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    text-transform: none;
    margin-bottom: 0;
    padding: 5px 5px 5px
}
.search-update .infor-search{color: #fff; padding-bottom: }
.search-update .col-md-3{	
	margin-bottom:17px;
}
.search-update .infor-search span{color:  #ffcc05; border-bottom: #424242;}
ul.filter-movie li{
	float: left;
}
 ul.filter-movie{
	width: auto;
	display: inline-block;
	background: #3c3a38;
	/*-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	border:1px solid #383838;*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	height: 32px;
	margin-bottom: 20px;
}
ul.filter-movie li{padding: 5px 0 2px;}
ul.filter-movie li a{
	padding:0px 20px;
	color: #fff;
	display: block;
	border-right: 1px solid #7f7f7f;
}
ul.filter-movie li.active{
	border-bottom: 3px solid #ffcc05;
}
ul.filter-movie li.active a{
	color: #ffcc05;
}
ul.filter-movie li a:hover{
	color: #ffcc05;

}
ul.filter-movieli:hover{
	border-bottom: 3px solid #ffcc05;
}
.sr-detail{
	float: left;
	position: relative;
	max-width: 100%;
}
.sr-detail .pull-left span{margin-right: 5px;padding-right: 5px; line-height: 15px;}
.sr-detail .pull-left span:last-child{padding-right: 0;}
.sr-detail .pull-left span:first-child{margin-right:0;}
.ct-catchup a:hover:after{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
 .loadmore-f{
	background: rgba(60,60,60,0.25);
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	border:1px solid #383838;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	color: #fff;
	text-transform: none;
	font-size: 18px;
}
.loadmore-f:hover{
	background: #ffcc05;
	color: #000;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	border:1px solid #ffcc05;
}
#carousel-list {
    overflow: initial;
}
.tv-chanel-top{margin-bottom:10px;}
.all-rv .tilt-pk {
	border-top:1px solid #424242;
	margin-top:30px;
	padding-top:20px;
}
.all-rv .tilt-pk  ul{
	display: inline-block;
	background: #3c3a38;
	/*-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	border:1px solid #383838;*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
ul.filter-movie li:last-child a{border:none}

.all-rv .tilt-pk  ul li{
	border:none;
	padding:10px 0;
}
.all-rv .tilt-pk  ul li:last-child a{border:none}
.all-rv .tilt-pk  ul li a{
	line-height:15px;
	padding:3px 17px;
	border-right:1px solid #fff;
	font-size:14px;
	text-transform:none;
}
.col-list-tin ul li .add-favorite{
	background:#ffcc05;
	color:#000;
	height:25px;
}
.col-list-tin ul li .remove-favorite{
	background:rgba(0,0,0,0.87);
	
	height:25px;
}
.col-list-tin ul li .remove-favorite a.a-tkl{color:#fff; font-size:13px;}
.col-list-tin ul li .add-favorite a.a-tkl{color:#000; font-size:13px;}
.all-rv .tilt-pk  ul li a:hover,.all-rv .tilt-pk  ul li.active a{
	color:#ffcc05;
}
.all-rv .tilt-pk  ul li:hover,.all-rv .tilt-pk  ul li.active{
	color:#ffcc05;
	border-bottom:2px solid #ffcc05;
}
.title-mb-d{display:none}
.search-list-p.detail_list .thubhover .caption ul.list-rate{margin-top:5px;}
.search-list-p.detail_list .list-trailer li  {padding-top:0;padding-bottom:0;    line-height: 9px;}
.search-list-p.col-md-12.detail_list{padding:0;}
.search-list-p.detail_list .grid-item{
	margin:20px 15px 0px 15px;
}
.time-tv {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    color: #fff;
}
.detail_list .small .watch-v{margin-top:15px;}
.detail_list .grid-item.large-four .watch-v{margin-top:50px;}
.detail_list .grid-fix .grid-item{margin: 20px 15px 0px 15px;}
.detail_list .tilt-pk a{font-size:14px; text-transform:none;}
.detail_list .tilt-pk{margin-top:0; padding:0 0 0 0px; line-height:20px;}
.detail_list.search-list-p .tilt-pk{    padding: 0 10px 0 15px;}
.detail_list .tilt-pk h4{margin-bottom:0; font-size:14px; margin-top:10px;}
.detail_list .tilt-pk ul{margin-top:0;margin-right: -5px;}
.detail_list .tilt-pk ul li{
	padding:0 10px 0 0px;
	width:130px;
	margin-left:10px;
}
.detail_list .tilt-pk ul li a{
	background: #3c3a38;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	box-shadow: inset 1px 1px 0px 0px rgba(112,112,112,1), inset 0px 0px 1px 1px rgba(112,112,112,1);
	border:1px solid #383838;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	padding:5px 10px;
	display:inline-block;
	width: 100%;
	text-align:center;
}
.detail_list .tilt-pk ul li.active a,.detail_list .tilt-pk ul li a:hover{
	background: #ffcc05;
	color: #000;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	border:1px solid #ffcc05;
}
.detail_list .grid{margin-top:10px;}
.detail_list .small .nb-bonus-v{margin-top:5px;}
.home-cinema .detail_list  .thum-sub-n.small{padding-bottom:0;}
.time-tvv {color:#fff; opacity:0.38; padding:5px 0;}
.time-tvv.active span,.time-tvv:hover span{
	color:#fff;
}
.time-tvv.active,.time-tvv:hover {border-bottom:3px solid #ffcc05;color:#ffcc05; opacity:1;}
.time-clange{padding-top:1px;}
.time-tvv span{display:block; text-align:center; line-height:15px}
.tv-chanel-top .title-tt-tv h4{margin-top:5px;}
.tv-chanel-top .pull-right .title-list-date-tv{overflow:hidden;}
.time-clange.slick-slider .slick-arrow{opacity:1 !important;top: 0;}
.time-clange.slick-slider .slick-arrow.slick-next{
	background:url(../img/tvchanel/icon-2.png) no-repeat;
	width:11px;
	height:16px;
}
.time-clange.slick-slider .slick-arrow.slick-next {
    background: url(../img/tvchanel/icon-2.png) no-repeat;
    width: 11px;
    height: 16px;
    right: 4px;
    top: 12px;
}
.time-clange.slick-slider .slick-arrow.slick-prev {
    background: url(../img/tvchanel/icon-1.png) no-repeat;
    width: 11px;
    height: 16px;
    left: 4px;
    top: 12px;
}
.tab-v1 ul li.active{background-image:url(../img/tvchanel/live.png); background-position:92% 20px;}
.list-fd{margin-top:20px;}
.time-go{
	position:absolute;
	right:0;
	top:3px;
	background:rgba(103,103,103,0.7);
	color:#fff;
	padding:1px 10px;
	font-size:12px;
}
.view-vip-sknb{position:relative;}
.play-detail{margin-bottom:30px;display:none;}
/* footer */
.app-list li{
	float:left;
	width:33.3333%;
	padding:0 15px;
}
.app-list{margin:0 -15px;}
.app-list li a{
	display:block;
	background:#4f4f4f;
	text-align:center;
	padding:10px 0;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.app-list li a:hover{opacity:0.78;}
.col-p-ere {margin-top:25px;color:#fff; display:inline-block;opacity:0.8;}
.col-p-ere a{color:#fff;}
.col-p-ere a:hover{color:#ffcc05;}
.col-copry{margin-top:5px;}
.view-all-d{
	float:right;
	color:#fff;
}
.tilt-pk .view-all-d:hover{color:#ffcc05;}
.app-mobile{display:none;}
.view-vip-sknb .thumb-sub-view a{
	width:100%;
	display:inline-block;
	text-align:center; margin-top: 0;
}
.view-vip-sknb .thumb-sub-view a img{display:initial;}
.view-vip-sknb .thumb-sub-view{
	width:100%;
	display:inline-block;
	text-align:center;
	   
}
@media screen and (min-width: 768px){
	
	.slide_run2.slider-thumb4 .thumbnail img {
		max-height: 214.5px;
		min-height: 214.5px;
	}
	.slide_run2.slider-thumb4 .list-rate li img{min-height:inherit;}
	.device.login{display:none;}
	.mega-dropdown-menu > li > ul li a:hover{
		color:#ffcc05;
		
	}
	.mega-dropdown-menu > li > ul li:hover{
		
	}
	.mega-dropdown-menu > li > ul li{padding-bottom: 4px;}
	.mega-dropdown-menu > li > ul li.active-sub{
		border-bottom:2px solid #ffcc05;
		

	}
	.mega-dropdown-menu > li > ul li.active-sub a{
		color:#ffcc05 ;
		
	}
	.slider-thumb4.slide_run_f5 {
		padding-bottom: 10px;
	}

}
@media screen and (min-width:1281px){
	
	.multiple-items .slick-list{padding-left:12px;}
	.multiple-items .slick-slide{padding-right:32px;}
	.thum-sub-n.small {
		padding-bottom: 8px;
	}
}
@media screen and (min-width: 992px) and (max-width:1280px){
	.scroll-pane {
		height: 271px;
	}
	.col-list-tin ul li {
		margin-right: 46.5px;
	}
	.time-clange.slick-slider .slick-arrow.slick-next{right:-2px;}
	.time-clange.slick-slider .slick-arrow.slick-prev{left:-2px;}
	.tv-chanel-top .pull-right .title-list-date-tv{padding:0 5px;}
	.detail_list  .grid-item .list-rate .nb-point{font-size:12px;}
	.detail_list  .thubhover .caption ul.list-rate {margin-top:5px;}
	.detail_list  .grid-item .list-rate  img{width:10px;    margin-top: 6px;}
	.detail_list  .grid-item img.img-fx{
		width: 12px !important;
		margin-top: 0px;
	}
	.detail_list .grid-item .slider-hover{min-width:150px;}
	.detail_list .list-trailer li{line-height:10px;}
	.detail_list .grid-fix .grid-item{margin: 20px 23px 0px 23px;}
	.detail_list .grid-item img{max-height:214.5px;}
	.detail_list .grid-item.large-four img{max-height:inherit}
	.detail_list .thum-sub-n.small {
		padding-bottom: 6px;
		width: 150px;
		margin:0 auto;
	}
	.detail_list .grid-item .thubhover .caption h4{font-size:14px;}
	.detail_list .grid-item.large-four .thubhover .caption h4{font-size:24px;}
	.detail_list .small .thubhover .caption ul.list-rate {
		margin-top: 10px;
		
	}
	.detail_list  .grid-item .watch-v{margin-top:5px;line-height: 17px;}
	.detail_list .grid-item .list-trailer li a {
		font-size: 12px;
	}
	.detail_list  .small .list-trailer{margin-top:8px;}
	.search-list-p.detail_list .grid-fix .grid-item {
		margin: 20px 0 0px;
		width: 20%;
		max-width: 20%;
		padding: 0 15px;
	}
	.search-list-p.detail_list .grid-fix .grid-item .thum-sub-n {
		max-width:152px;
		margin:0 auto;
	}
	.search-list-p.col-md-12.detail_list{padding:0 0px;}
	.search-list-p .sli .watch-v{margin-top:30px;}
	.search-update .ct-catchup img{
		max-width: 100%;
	}
	.list-movie-cat .col-md-3{margin-bottom: 20px;}
	.slide_run2.slider-thumb4 .slick-arrow {
		top: 46.6%;
	}
	.slide_run2.slider-thumb4 .slick-next {
		right: 1px;
	}
	.slide_run2.slider-thumb4 .slick-prev {
		left: 25px;
	}
	.introduce h2{font-size:29px;}
	.multiple-items .poster-larger.slick-slide img {
		width: 245px;
		max-height: 347px !important;
	}
	.banner-top .small .thumbnail {
		height: auto;
	}
	.col-sm-right .img-sli {
		max-width: 100%;
		max-height: 170px !important;
	}
	.banner-top .top-slide .thum-sub-n{margin-bottom:0px;}
	.nb-bonus-v{padding:1px 5px;}
	.nb-v-wallnet{padding:1px 5px;}
	.small .nb-bonus-v, .sli .nb-bonus-v, .top-slide .nb-bonus-v {
		margin-top: 5px;
		display: inline-block;
	}
	 .multiple-items .small .watch-v {
		font-size: 14px;
		margin-top: 5px;
		padding: 4px 0;
	}
	.watch-v, .slide_run2 .thubhover .caption.lager .watch-v{margin-top:40px;}
	.sli .watch-v {
		line-height: 18px;
		margin-top: 8px;
		padding: 3px 0;
	}
	.slide_run2.slider-thumb4 .list-trailer {
		margin-top: 5px;
	}
	.slide_run2.slider-thumb4 .slick-list{padding-top:20px;}
	.home-cinema-wp .tilt-pk h4{padding-bottom:0; margin-bottom:0; line-height:13px;}
}

@media screen and (min-width: 768px) and (max-width:991px){
	.col-sm-left.fix001-new {
		padding-bottom: 0;
	}
	.pc-tv.fix-v2 .slider-tv{
		position:inherit;
	}
	.pc-tv.fix-v2 {
		height: 70px;
	}
	.play-detail {
		margin-bottom: 15px;
		    margin-top: -15px;
	}
	.play-detail .col-sm-12{
		padding:0;
		
	}
	.time-go{top:0;right:10px;}
	.slider-thub3 .tv-sl:first-child{margin-left:-8px;}
	.fix-mobile0d .slider-thub3 .tv-sl:first-child{margin-left:0px;}
	.pc-tv .col-sm-12{height:10px;}
	.detail_list.search-list-p .tilt-pk.title-grid-detail{margin-top:20px;}
	ul.filter-movie li a{padding:0 12px;}
	.detail_list .small .watch-v{margin-top:7px;}
	.detail_list .grid-item img.slider-hover{max-height:214.5px;min-width:150px;}
	.search-list-p.detail_list .grid-item .list-trailer li a{
		font-size:12px;
	}
	.search-list-p.detail_list .grid-fix .grid-item {
		margin: 10px 0 10px;
		width: 25%;
		max-width: 25%;
		padding: 0 15px;
	}
	.search-list-p .grid-item .thum-sub-n{max-width:152px;}
	.detail_list .tilt-pk{padding-top:20px;}
	.detail_list .small .list-trailer{margin-top:5px;}
	.detail_list .grid-item .thubhover .caption h4{font-size:14px;}
	.grid-item .thubhover table {
		width: 100%;
		margin-top: 5px;
	}
	.detail_list .thubhover .caption ul.list-rate {
		margin-top: 10px;
	}
	.search-list-p.col-md-12.detail_list{padding:0 0px;}
	.search-list-p .sli .watch-v{margin-top:30px;}
	.slider-tv.tv-chanel-d {
		top: -541px;
		height:60px;
	}
	.all-rv .tilt-pk{margin-top:10px;}
	 .tv-chanel-w, .tv-chanel-w .col-sm-12{height:0;}
	.tv-chanel-top .pull-left {
		margin-bottom: 90px;
	}
	.search-update .ct-catchup img{
		max-width: 100%;
	}
	.list-movie-cat .col-md-3{margin-bottom: 20px;}
	.dt-play{background-size:50%;}
	.vd-list-detail .col-md-right .title-h2 b {
		padding-top: 3px;
		display: inline-block;
	}
	.slide_run2.slider-thumb4 .slick-arrow {
		top: 53.2%;
	}
	.small img.img-fx, .sli img.img-fx, .top-slide img.img-fx {
		height: auto !important;
		min-height:auto !important;
	}
	.sli .watch-v {
		line-height: 14px;
		margin-top: 9px;
	}
	.slider-thumb4 .list-trailer {
		margin-top: 3px;
	}
	.slider-thumb4 .top-slide .list-trailer {
		margin-top: 7px;
	}
	.slider-thumb4 .list-trailer {
    margin-top: 2px;
	}
	.slider-thumb4,.slider.slide-itemtop,.slider-thub3{
	-webkit-overflow-scrolling: touch;
	}
	
}
@media screen and (max-width:767px){
	.pc-tv.fix-v22 {
		height: auto;
	}
	.pc-tv.fix-v2 .slider-tv{
		position:inherit;
	}
	.pc-tv.fix-v2 {
		height: auto;
	}
	.col-sm-left.fix001-new {
		padding-bottom: 0;
	}
	.slider-tv div {
		padding: 0 5px 10px;
		display: inline-block;
		white-space: nowrap;
	}
	.app-mobile {
		display: block;
		background: #fff;
		line-height: 16px;
		font-size: 12px;
		padding: 4px 0 5px;
		position:relative;
	}
	
	.icon-app-mb{float:left; margin:0 10px 0 25px;}
	.xem-app{
		position: absolute;
		right: 10px;
		top: 25px;
		font-size: 14px;
		text-transform: uppercase;
	}
	.close-app {
		position: absolute;
		left: 7px;
		top: 25px;
		width: 10px;
		height: 10px;
		background: url(../img/close-tr.png) no-repeat;
		background-size: 100% 100%;
		display: block;
	}
	
	.view-all-d{
		position:absolute;
		right:10px;
		top:7px;
	}
	.app-list li a img{height:25px;}
	.app-list {
		margin: 0;
	}
	.app-list li{padding:0 10px 0 0}
	.app-list li:last-child{padding-right:0;}
	.play-detail {
		margin-bottom: 15px;
		margin-top: -15px;
	}
	.play-detail .col-sm-12{padding:0;}
	.col-sm-right{padding-left:10px;}
	.tilt-pk ul li a{font-size:12px;}
	.tilt-pk h4 a{font-size:17px;}
	.introduce .col-md-5,.introduce .col-md-7{padding:0 10px;}
	.col-md-12.line-j,.pc-tv .col-sm-12 {padding:0 10px;}
	.col-sm-12,.col-md-12{padding:0 10px;}
	.free-detail .tilt-pk h4 {
		font-size: 17px;
		font-weight: bold;
		text-transform: none;
	}
/*	#Episode ul li {
		background: url(../img/tvchanel/icon-3.png) no-repeat 100% 4px;
		padding-bottom: 10px;
		margin-bottom: 0;
	}*/
	 .banner-top .col-sm-12{padding-left:10px;}
	 .fix-thumb .col-sm-12{padding-left:10px;}
/*	#Episode ul li a{line-height:18px;}
	#Episode .left-v2 {
		width: 74%;
		float: left;
	}*/
	.login-system{display:none}
	.hidden-mb{display:none !important;}
	.detail_list .tilt-pk ul li{width:100px;}
	.detail_list .tilt-pk ul{margin-top:5px;margin-right:-10px;}
	.detail_list .tilt-pk.title-grid-detail ul{margin-top:5px;margin-right:-15px;}
	.detail_list .tilt-pk {
		margin-top:20px;
	}
	.detail_list .tilt-pk ul li a{font-size: 12px;
		padding: 5px 0;}
	.detail_list .tilt-pk{padding-left:0;}
	.detail_list .tilt-pk.title-grid-detail{margin-top:15px;padding-left:4px;}
	.detail_list.tilt-pk h4 a{font-size:15px;}
	.detail_list.tilt-pk .tilt-pk span{font-size:12px;}
	.search-list-p.detail_list .grid-fix .grid-item {
		margin: 10px 0 10px;
		width: 33.3333%;
		max-width: 33.3333%;
		padding: 0 5px;
	}
	.search-list-p .grid-item .thum-sub-n{max-width:100%;}
	.search-list-p.col-md-12.detail_list{padding:0 10px;}
	.search-list-p .sli .watch-v{margin-top:10px;}
	.search-update .list-movie-cat ul li{
		width:33.333%;
		padding:0;
	}
	 ul.filter-movie li a{
		padding:5px 10px;
		border:none;
	}
	.search-update .infor-search {
		color: #fff;
		margin-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	.search-update .list-movie-cat {
		width: 100%;
		margin-left: 0;
		padding: 0 15px;
	}
	.list-movie-cat .col-md-3 {
		margin-bottom: 10px;
		padding: 0 5px;
		width:33.3333%;
	}
	.search-update .ct-catchup .pull-left{width:74%;}
	.ct-catchup .pull-left.left-logo{width:20%;}
	.list-movie-cat .col-md-12 {
		width: 100%;
		padding:0;
	}
	ul.filter-movie li.active{border:none;}
	ul.filter-movie{
		height:auto;
		padding:5px 10px;
	}
	.slider-tv.tv-chanel-d {
		top: -547px;
		height:58px;
	}
	.time-tvv span{line-height:18px;}
	.fix-mobile0d .scroll-slider3 {
		height: 145px;
	}
	.tv-chanel-top .title-tt-tv{display:inherit}
	.time-clange.slick-slider .slick-arrow.slick-next,.time-clange.slick-slider .slick-arrow.slick-prev{top:17px;}
	.tv-chanel-top .pull-left {
		margin-bottom: 90px;
	}
	.tv-chanel-w{height:0;}
	.sknb .tilt-pk {
		margin-bottom: 0px;
		margin-top:10px;
	}
	.tv-chanel-top .col-md-12{
		padding:0;
	}
	.tv-chanel-top .pull-right .title-list-date-tv{background:rgba(0,0,0,0.87);height: 50px;}
	.tv-chanel-top .pull-right{padding:0 10px;}
	.all-rv .tilt-pk ul li {
		border: none;
		padding: 10px 0px;
		margin-bottom: 0;
		padding-left:5px;
		height:36px;
	}
	.title-mb-d {
		width: 100%;
		display: inline-block;
		background: rgba(0,0,0,0.8);
		padding: 0px 0;
	}
	.title-mb-d{
		width:100%;
		display:inline-block;
	}
	.col-list-tin{padding-right:0;margin-top:5px;}
	.title-mb-d ul li{
		float:left;
		width:20%;
		color:#fff;
		padding: 5px 0;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
	}
	.title-mb-d ul li:last-child{border-right:none;}
	.title-mb-d ul li p{
		margin-bottom:0px;
		text-align:center;
	}
	.title-mb-d ul li:hover,.title-mb-d ul li.active{
		color:#ffcc05;
		border-bottom:1px solid #ffcc05;
	}
	
	.title-list-date-tv{
	}
	.search-update .ct-catchup img{
		max-width: 100%;
	}
	.fix-mobile0d .col-sm-12{padding-right:0;}
	.list-movie-cat .col-md-3{margin-bottom: 10px;}
 #trailer .modal-dialog{width:400px;}
.banner-top .col-sm-12{padding-left:0;}
.banner-top .col-sm-12 .col-sm-left {
    padding-right: 0;
    padding-left: 0;
}
.vd-list-detail .col-md-right .title-h2 b{font-size:20px;}
.list-dt-fac li{height:25px; margin-bottom:10px; padding-left:0; padding-right:10px; margin-right:10px;}
.list-dt-fac{margin:10px 0;padding-bottom:5px;}
.fx-price li{line-height: 20px;}
.dt-play{background-size: 40%;}
.gence{padding-bottom:5px;}
.goi-vod h3{margin-top:10px;}
.goi-vod{padding-bottom:20px;}
.free-detail .scroll-thumb {
    height: 230px;
}
.ul-favorite ul li{font-size:12px;}
.introduce{margin-bottom:10px;}
footer {
    margin-top: 20px;
}
.slider.slide-itemtop .poster-larger{
	width:297px !important
}
.list-trailer {
    width: 100%;
    display: block;
    margin-top: 5px;
}
.slider.slide-itemtop .top-slide, .slider.slide-itemtop .poster-larger{margin-right:1px;}
.slider-thub3 .tv-sl{margin-right:-2px;width:200px !important;}
.slider-thub3 .tv-sl:first-child{margin-right:-1px;}
.slider-thumb4 .sli{margin-right:1px;}
.slider-thumb4 .sli:first-child{margin-right:2px;}
.slider.slide-itemtop .poster-larger{margin-left:2px;}
.slider.slide-itemtop:first-child{margin-right:1px;}
.slider-thumb4.slide_run2 .poster-larger{
	width:auto !important;
}
.slide_run2.slider-thumb4 .lager-fix .thumbnail img {
    max-height: 427px;
    min-width: 300px;
	height:auto;
}
.time-go{right:5px;}
.thumb-sub-view span {
    font-size: 12px;
    display: block;
    white-space: pre-line;
    margin-left: 46px;
}
.slider-thumb4 .lager-lo .thubhover table td.first-td {
    font-size: 21px;
    text-align: left;
}
.slider-thumb4 .lager-lo .thubhover table td.last-td {
    font-size: 28px;
    text-align: right;
}
.slider-thumb4  .lager-lo.thubhover table{margin-top:20px;}
.slider-thumb4 .lager-lo .watch-v{margin-top:80px;font-size: 24px; padding:10px 0;}
.slide_run2 .lager-lo .caption .list-trailer li a{font-size:21px;}
.slide_run2 .lager-lo  .caption .list-trailer{margin-top:15px;display:block;}
.slider-thumb4.slide_run2 .top-slide, .slider-thumb4.slide_run2 .poster-larger{margin-right:2px;}
.slider-thumb4.slide_run2 .top-slide:first-child{margin-right:3px;}
.slide_run2 .lager-lo .thubhover .caption h4 {
    font-size: 24px;
}
.slider-thumb4 .lager-lo .thubhover .caption {
    padding: 25px;
}
.banner-top .thumbnail{width:100%;}
.scroll-dix{height:440px;}
.slider.slide-itemtop{height:440px}
.scroll-slider3{height:200px;}
.slider-thub3{height:205px;}
.scroll-thumb{height:230px;}
.slider-thumb4.slide_run2{height:413px;}
.rung-fade{height:430px;}
.slider-thumb4,.slider.slide-itemtop,.slider-thub3{
-webkit-overflow-scrolling: touch;
}
.hr-line {
    margin-top: 0;
    margin-bottom: 10px;
	display:inherit;
}
.tilt-pk{margin-top:0px; position:relative;}
	.slider-tv{z-index:4;    padding: 10px 0px 10px;}
	.tilt-pk.slidetop{
		margin-top:0;
		padding-left:0;
	}
	.slider-tv {
		top: -566px;
		overflow-y: hidden;
		white-space: nowrap;
		overflow-x: auto;
		position: absolute;
	}
	.small .list-trailer {
		margin-top: 3px;
		float: left;
	}
	.pc-tv{height:0;}
	.tilt-pk ul{margin-top:10px;}
	.col-list-tin ul li .remove-favorite a.a-tkl {
		color: #fff;
		font-size: 11px;
		padding: 7px 0 2px;
	}
	.col-list-tin ul li .add-favorite a.a-tkl {
		color: #000;
		font-size: 11px;
		padding: 7px 0 2px;
	}
}
@media screen and ( min-width:480px) and (max-width:567px){
	.list-movie-cat .col-md-3{width:50%;}
}
@media screen and ( min-width:568px) and (max-width:767px){
	
	.col-list-tin ul li .remove-favorite a.a-tkl {
		color: #fff;
		font-size: 11px;
	}
	.search-list-p.detail_list .grid-fix .grid-item {
		margin: 10px 0 10px;
		width: 25%;
		max-width: 25%;
		padding: 0 5px;
	}
	.search-list-p .grid-item .thum-sub-n{max-width:100%;}
	.search-list-p.col-md-12.detail_list{padding:0 10px;}
	.search-list-p .sli .watch-v{margin-top:10px;}
	.slider-thumb4.slide_run2{height:438px;}
	.rung-fade{height:450px;}
}
@media screen and ( min-width:568px) and (max-width:639px){
	.search-list-p.detail_list .grid-fix .grid-item {
		margin: 10px 0 10px;
		width: 33.333%;
		max-width: 33.333%;
		padding: 0 5px;
	}
	.search-list-p .grid-item .thum-sub-n{max-width:100%;}
	.search-list-p.col-md-12.detail_list{padding:0 10px;}
	.search-list-p .sli .watch-v{margin-top:10px;}
}
@media screen and (max-width:479px){
	.app-list li a img {
		height: 20px;
	}
	.col-list-tin ul li .add-favorite a.a-tkl {
		color: #000;
		font-size: 11px;
		padding: 7px 0 2px;
	}
	.col-list-tin ul li .remove-favorite a.a-tkl {
		color: #fff;
		font-size: 11px;
		padding: 7px 0 2px;
	}
	.col-list-tin ul li {
		margin-left: 1%;
		margin-right: 1%;
		padding: 10px 4px;
		width: 31.3333%;
	}
	.free-detail .scroll-thumb {
		height: 214.5px;
	}
	.tilt-pk ul{margin-top:0px;}
	.tilt-pk ul li{margin-bottom:3px;}
	.slider-thumb4.slide_run1 .thum-sub-n, .slider-thumb4.slide_run1 .thumbnail-view {
		width: 127px !important;
	}
	.slider-thumb4.slide_run1 .sli,.slider-thumb4.slide_run1 .thumbnail{width:127px;}
	.slider-thumb4.slide_run1 .thumbnail img {
		max-height: 188px;
		min-height: 188px;
	}
	.slider-thumb4.slide_run1 .sli{height: 188px;}
	.banner-top .small .thumbnail {
		max-width: 127px;
		max-height: 188px;
		overflow: hidden;
	}
	
	.col-sm-right .thum-sub-n.small {
		width: 127px;
		height: 188px;
		overflow: hidden;
		margin-bottom:0;
	}
	.slider.slide-itemtop .top-slide{
		width: 127px !important;
		height: auto;
	}
	
	.slider-thumb4 .thum-sub-n,.slider-thumb4.slide_run2 .top-slide{
		width: 127px !important;
	}
	.slider-tv {
		top: -505px;
	}
	.slider-thumb4{height:200px;}
	
	
	
	
	#Episode .left-v2 {	
		width: 63%;
		float: left;
	}
	#Episode .pp-content{padding:25px 15px;}
	.detail_list .pull-right{float:left !important;}
	.detail_list .tilt-pk.title-grid-detail ul{margin-top:10px;}
	.tv-chanel-top .pull-right .title-list-date-tv{padding:0 5px;}
	.time-clange.slick-slider .slick-arrow.slick-next{
		right:-2px;
	}
	.time-clange.slick-slider .slick-arrow.slick-prev{left:-2px;}
	.detail_list .tilt-pk ul {
		margin-top: 11px;
	}
	.detail_list .tilt-pk ul li{margin-bottom:0;}
	.search-list-p.detail_list .grid-fix .grid-item {
		margin: 10px 0 0px;
		width: 33.3333%;
		max-width: 33.3333%;
		padding: 0 5px;
		min-height: inherit !important;
	}
	.search-list-p.detail_list .thubhover .caption ul.list-rate {
		margin-top: 2px;
	}
	.search-list-p .grid-item .thum-sub-n{max-width:100%;}
	.search-list-p.col-md-12.detail_list{padding:0 5px;}
	.search-list-p .sli .watch-v{margin-top:5px;}
	.search-update .list-movie-cat ul li{width:50%;}
	.list-movie-cat .col-md-3{width:100%;}
	.catch-up-service  .pp-content,.charge-v-wallet .pp-content{padding:15px 10px;}
	.sp-bn-left {
		width: 33px;
		float: left;
		margin-right: 5px;
		text-align: center;
		margin-top: 20px;
		margin-left: 10px;
	}
	.pop .sub-pri-pop{font-size:12px;}
	.pop .sub-pri-pop .so-r span{ margin-right:3px;}
	.changer-phone .sp-bn-right h5,.changer-card .sp-bn-right h5{font-size:15px;}
	.catch-up-service.package-period .sub-pri{padding:10px 5px;    font-size: 12px;}
	.pp-content .changer-phone .sp-bn-right p,.pp-content .changer-card .sp-bn-right p{font-size:12px;}
	.sp-bn-right{width:80%;}
	.catch-up-service .sub-pri .so-r span{font-size:16px;}
	.catch-up-service .sub-pri .so-r {font-size:12px;}
	.all-rv .tilt-pk ul li a{padding:3px 10px }
	.col-list-tin{padding-right:0;}
	#trailer .modal-dialog{width:90%;}
	.modal-dialog{width:90%; margin-top:20%;}
	.squaredThree{margin-bottom:0;}
	.vd-list-detail .col-md-left {
		float: left;
		width: 100%;
		margin-right: 0;
		padding-right: 10px;
	}
	.ul-favorite ul li {
		padding: 5px 0 0;
		font-size: 16px;
		color: #fff;
	}
	.vd-list-detail .col-md-right {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.hr-line {
		margin-top: 5px;
		margin-bottom: 5px;
		display:block;
	}
	.col-sm-right .thum-sub-n.small:last-child{margin-bottom:0;}
	.slider.slide-itemtop .poster-larger {
		width: 258px !important;
		/*height: 376px!important;*/
		height: 376px!important;
		overflow: inherit;
	}
	.rung-fade  .slider-thumb4 .list-trailer {
		margin-top: 2px;
	}
	.rung-fade .top-slide .watch-v{margin-top:6px;}
	.slide_run2.slider-thumb4 .thumbnail img {
		height: 188px;
		width: 100%;
		min-height: 188px;
	}
	.slider-thumb4.slide_run2 .top-slide, .slider-thumb4.slide_run2 .poster-larger {
		margin-right: 0px;
	}
	.slider-thumb4 .thum-sub-n {
		margin-bottom: -1px;
	}
	.slider-thumb4.slide_run2 .top-slide:first-child {
		margin-right: 1px;
	}
	.slider-thub3 .tv-sl:first-child {
		margin-left: -2px;
	}
	.slider-thub3 .tv-sl{
		width:145px !important;
	}
	.slider-thub3 {
		height: 140px;
	}
	.thumb-sub-view span {
		font-size: 12px;
		display: block;
		white-space: pre-line;
		margin-left: 46px;
	}
	.view-vip-sknb{padding:3px 2px;}
	.time-go{right:2px;}
	.slide-itemtop .watch-v{margin-top:50px;}
	.slide_run2.slider-thumb4 .lager-fix .thumbnail img {
		min-height: 381px;
		height: 381px;
		max-height: initial;
		min-width: initial;
		width: auto;
	}
	.rung-fade {
		height: 395px;
	}
	.slider-thumb4.slide_run2 {
		height: 395px;
	}
	.goi-giai-tri .tilt-pk{margin-top:5px;}
	.home-cinema-wp .tilt-pk {
		margin-top: 0px;
	}
	.scroll-thumb {
		height: 200px;
	}
	.scroll-dix {
		height: 380px;
	}
	.slider.slide-itemtop{height:380px;}
	.scroll-slider3 {
		height: 205px;
	}
	.fix-mobile0d .scroll-slider3{height:140px;}
	.slider-thumb4 .lager-lo .watch-v{margin-top:60px;}
	.slide_run2.slider-thumb4  .lager-lo .thubhover table td {
		line-height: 35px;
		padding: 0;
	}
	.slider-thumb4 .lager-lo .thubhover table{margin-top:15px;}
	.slide_run2.slider-thumb4 .lager-fix .thumbnail .list-rate img {
		max-height: inherit;
		min-width: inherit;
		height: 9px;
		min-height: 9px;
		width: 10px;
	}
	.slide_run2.slider-thumb4 .lager-fix .thumbnail img.img-fx {
		min-width: auto;
		margin-top: 1px;
		height: auto;
		min-height: inherit;
	}
}