<!-- MAIN ------------------------- -->
<div class="main-wrap">
    <!-- BANNER -->
    <div class="main-top">
        <div class="container fix-container search-list-p detail_list  search-update">
            <div class="row">
                <div class="col-sm-12">
                    <p class="infor-search">
                        Kết quả tìm kiếm với từ khóa:  <span>{{vm.search_str}}</span>
                    </p>
                </div>
                <div class="list-movie-cat">
                    <div class="col-md-12">
                        <ul id="ul_cate">
                            <li id="li_movie"><a ng-click="vm.activeResultCate('movie')" href="">Movie ({{vm.genreSearchList.movie.total}})</a></li>
                            <li id="li_vgroup"><a ng-click="vm.activeResultCate('vgroup')" href="">Series VOD ({{vm.genreSearchList.vgroup.total}})</a></li>
                            <li id="li_tvshow"><a ng-click="vm.activeResultCate('tvshow')" href="">VOD ({{vm.genreSearchList.tvshow.total}})</a></li>
                            <!--<li id="li_schedule"><a ng-click="vm.activeResultCate('schedule')" href="">Program ({{vm.genreSearchList.schedule.total}})</a></li>-->
                            <li id="li_channel"><a ng-click="vm.activeResultCate('channel')" href="">Channel ({{vm.genreSearchList.channel.total}})</a></li>
                            <!--<li id="li_catchup"><a ng-click="vm.activeResultCate('catchup')" href="">Catchup ({{vm.genreSearchList.catchup.total}})</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-fix" ng-switch="vm.showCate">
                <div class="scroll-thumb" ng-switch-when="movie">
                    <resultsearch data="vm.genreSearchList_movie_data"  dataloaded="vm.genreSearchLoaded" resultype="movie" loadmore="vm.loadmore" />                        
                </div>
                <div class="scroll-thumb" ng-switch-when="vgroup">
                    <resultsearch data="vm.genreSearchList_vgroup_data"  dataloaded="vm.genreSearchLoaded" resultype="vgroup"  loadmore="vm.loadmore"  />                                               
                </div>
                <div class="scroll-thumb" ng-switch-when="tvshow">
                    <resultsearch data="vm.genreSearchList_tvshow_data"  dataloaded="vm.genreSearchLoaded" resultype="tvshow" loadmore="vm.loadmore"  />                                                                       
                </div>
                <div class="scroll-thumb"  ng-switch-when="channel">
                	<resultsearch data="vm.genreSearchList_channel_data"  dataloaded="vm.genreSearchLoaded" resultype="channel"  loadmore="vm.loadmore" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript" src="assets/js/update-data-ui.js"></script> -->
<!-- END Main -->